$desk: 100/1920;
$mob: 100/375;
.project-container {
  margin-right: 113 * $desk + vw;
  width: 492 * $desk + vw;
  //   height: 652 * $desk + vw;
  margin-bottom: 2vw;
  float: left;
  @media only screen and (max-width: 800px) {
    width: 158 * $mob + vw;
    margin-right: unset;

    // height: 206 * $mob + vw;
  }
  .image-container {
    position: relative;
    width: 503 * $desk + vw;
    height: 652 * $desk + vw;
    display: block;
    //   float: left;
    padding-left: 2 * $desk + vw;
    padding-top: 1.5 * $desk + vw;
    margin-bottom: 0;
    cursor: pointer;
    @media only screen and (max-width: 800px) {
      width: 158 * $mob + vw;
      height: 206 * $mob + vw;
      margin-bottom: 5 * $mob + vw;
    }
    //   padding-right: 2 * $desk + vw;
  }

  .image-disp {
    width: 503 * $desk + vw;
    height: 652 * $desk + vw;
    object-fit: cover;

    @media only screen and (max-width: 800px) {
      width: 158 * $mob + vw;
      height: 206 * $mob + vw;
    }
  }
  .image-container:after {
    clear: both;
    float: none;
    display: block;
  }
  .info-holder {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    @media only screen and (max-width: 800px) {
      opacity: 1;
      // display: none;

      // width: 363 * $mob + vw;
      // height: 53 * $mob + vw;
    }

    .name {
      font-family: Montserrat-Medium;
      font-size: 25 * $desk + vw;
      color: white;
      margin-bottom: 2vw;

      @media only screen and (max-width: 800px) {
        //hover
        display: none;
      }
    }
    .progress {
      font-family: Montserrat-Medium;
      font-size: 25 * $desk + vw;
      color: white;
      @media only screen and (max-width: 800px) {
        //hover
        display: none;
      }
    }
    .projectLogo {
      width: 200 * $desk + vw;
      height: 200 * $desk + vw;
      object-fit: contain;
      margin-bottom: 2vw;
      filter: grayscale(1);

      @media only screen and (max-width: 800px) {
        width: 80 * $mob + vw;
        height: 80 * $mob + vw;
        filter: grayscale(1);
      }
    }
  }

  .image-container:hover .info-holder {
    opacity: 1;
  }
  .project-title {
    text-align: center;
    margin-top: 29 * $desk + vw;
    margin-bottom: 165 * $desk + vw;
  }
}
