.project-container {
  margin-right: 5.88542vw;
  width: 25.625vw;
  margin-bottom: 2vw;
  float: left;
}

@media only screen and (max-width: 800px) {
  .project-container {
    width: 42.13333vw;
    margin-right: unset;
  }
}

.project-container .image-container {
  position: relative;
  width: 26.19792vw;
  height: 33.95833vw;
  display: block;
  padding-left: 0.10417vw;
  padding-top: 0.07812vw;
  margin-bottom: 0;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .project-container .image-container {
    width: 42.13333vw;
    height: 54.93333vw;
    margin-bottom: 1.33333vw;
  }
}

.project-container .image-disp {
  width: 26.19792vw;
  height: 33.95833vw;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 800px) {
  .project-container .image-disp {
    width: 42.13333vw;
    height: 54.93333vw;
  }
}

.project-container .image-container:after {
  clear: both;
  float: none;
  display: block;
}

.project-container .info-holder {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

@media only screen and (max-width: 800px) {
  .project-container .info-holder {
    opacity: 1;
  }
}

.project-container .info-holder .name {
  font-family: Montserrat-Medium;
  font-size: 1.30208vw;
  color: white;
  margin-bottom: 2vw;
}

@media only screen and (max-width: 800px) {
  .project-container .info-holder .name {
    display: none;
  }
}

.project-container .info-holder .progress {
  font-family: Montserrat-Medium;
  font-size: 1.30208vw;
  color: white;
}

@media only screen and (max-width: 800px) {
  .project-container .info-holder .progress {
    display: none;
  }
}

.project-container .info-holder .projectLogo {
  width: 10.41667vw;
  height: 10.41667vw;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 2vw;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

@media only screen and (max-width: 800px) {
  .project-container .info-holder .projectLogo {
    width: 21.33333vw;
    height: 21.33333vw;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
  }
}

.project-container .image-container:hover .info-holder {
  opacity: 1;
}

.project-container .project-title {
  text-align: center;
  margin-top: 1.51042vw;
  margin-bottom: 8.59375vw;
}
/*# sourceMappingURL=project.css.map */