* {
  margin: 0;
}

.page2Container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: black;
  font-family: Montserrat-Regular;
  font-size: 1.30208vw;
  color: white;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media only screen and (max-width: 800px) {
  .page2Container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    padding-bottom: 10vw;
  }
}

.page2Container .leftSection .sliderSection {
  width: 57.29167vw;
  height: 86vh;
}

@media only screen and (max-width: 800px) {
  .page2Container .leftSection .sliderSection {
    width: 100vw;
    height: 60vh;
  }
}

.page2Container .leftSection .sliderSection .carousel {
  width: 100%;
  height: 86vh;
  margin-top: 50px;
}

@media only screen and (max-width: 800px) {
  .page2Container .leftSection .sliderSection .carousel {
    height: 60vh;
  }
}

.page2Container .leftSection .sliderSection .slider-wrapper {
  height: 42vw;
}

@media only screen and (max-width: 800px) {
  .page2Container .leftSection .sliderSection .slider-wrapper {
    height: 115vw;
  }
}

.page2Container .leftSection .sliderSection img {
  height: 42vw;
  -o-object-fit: contain;
     object-fit: contain;
}

@media only screen and (max-width: 800px) {
  .page2Container .leftSection .sliderSection img {
    height: 115vw;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.page2Container .leftSection .neighbourSection {
  position: absolute;
  width: 55.5vw;
  font-family: Raleway-Regular;
  font-size: 0.9375vw;
  text-align: justify;
  padding-left: 1.5625vw;
  margin-top: 0.8vw;
}

@media only screen and (max-width: 800px) {
  .page2Container .leftSection .neighbourSection {
    display: none;
  }
}

.page2Container .rightSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 42.96875vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 800px) {
  .page2Container .rightSection {
    width: 100vw;
  }
}

.page2Container .rightSection .projectHeader {
  width: 7.8125vw;
  height: 7.8125vw;
}

.page2Container .rightSection .projectHeader img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media only screen and (max-width: 800px) {
  .page2Container .rightSection .projectHeader img {
    display: none;
  }
}

.page2Container .rightSection .projectDesc {
  width: 23.95833vw;
  text-align: justify;
  margin-top: 1.30208vw;
  font-size: 0.9375vw;
  line-height: 1.14583vw;
}

@media only screen and (max-width: 800px) {
  .page2Container .rightSection .projectDesc {
    width: 80vw;
    font-size: 4.26667vw;
    line-height: 5.33333vw;
  }
}

.page2Container .rightSection #amenitiesContainer {
  display: block;
  width: 100%;
}

.page2Container .rightSection #amenitiesContainer .carousel-wrap {
  display: block;
  width: 37.875vw;
  overflow: hidden;
}

@media only screen and (max-width: 800px) {
  .page2Container .rightSection #amenitiesContainer .carousel-wrap {
    width: 131.875vw;
    margin-bottom: 7vw;
  }
}

.page2Container .rightSection #amenitiesContainer .carousel-wrap ul {
  display: block;
  list-style: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 110vw;
}

@media only screen and (max-width: 800px) {
  .page2Container .rightSection #amenitiesContainer .carousel-wrap ul {
    width: 325vw;
    padding: 0;
  }
}

.page2Container .rightSection #amenitiesContainer .carousel-wrap ul li {
  display: block;
  float: left;
  position: relative;
  width: 40.875vw;
  margin-right: 15px;
}

@media only screen and (max-width: 800px) {
  .page2Container .rightSection #amenitiesContainer .carousel-wrap ul li {
    width: 100vw;
  }
}

.page2Container .rightSection #amenitiesContainer .carousel-wrap ul li img {
  width: 6.94792vw;
  height: 8.8vw;
  -o-object-fit: contain;
     object-fit: contain;
}

@media only screen and (max-width: 800px) {
  .page2Container .rightSection #amenitiesContainer .carousel-wrap ul li img {
    width: 25vw;
    height: 28vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.page2Container .rightSection #amenitiesContainer p {
  margin-top: 1vw;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .page2Container .rightSection #amenitiesContainer p {
    margin-top: 3vw;
    margin-bottom: 3vw;
    font-family: Montserrat-SemiBold;
    font-size: 5.6vw;
    line-height: 5.33333vw;
  }
}

.page2Container .rightSection .arrow-Container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40.96875vw;
}

@media only screen and (max-width: 800px) {
  .page2Container .rightSection .arrow-Container {
    width: 100vw;
  }
}

.page2Container .rightSection .arrow-Container .leftArrow {
  position: relative;
  width: 0.83333vw;
  height: 1.04167vw;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-right: 1vw;
  cursor: pointer;
  opacity: 1;
}

@media only screen and (max-width: 800px) {
  .page2Container .rightSection .arrow-Container .leftArrow {
    width: 3.83333vw;
    margin-right: 6vw;
    height: 4.04167vw;
  }
}

.page2Container .rightSection .arrow-Container .rightArrow {
  position: relative;
  width: 0.83333vw;
  margin-left: 1vw;
  height: 1.04167vw;
  cursor: pointer;
  opacity: 1;
}

@media only screen and (max-width: 800px) {
  .page2Container .rightSection .arrow-Container .rightArrow {
    margin-left: 6vw;
    width: 3.83333vw;
    height: 4.04167vw;
  }
}

.page2Container .rightSection .neighbourrInfo {
  display: none;
}

@media only screen and (max-width: 800px) {
  .page2Container .rightSection .neighbourrInfo {
    display: block;
    width: 80vw;
    font-size: 4.26667vw;
    line-height: 5.33333vw;
    text-align: justify;
  }
}

.page2Container .clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.page2Container .clearfix {
  display: inline-block;
}

.page2Container html[xmlns] .clearfix {
  display: block;
}

.page2Container * html .clearfix {
  height: 1%;
}

.page2Container .carousel .control-arrow,
.page2Container .carousel.carousel-slider .control-arrow {
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  opacity: 1;
  position: absolute;
  z-index: 2;
  top: 20px;
  background: 0 0;
  border: 0;
  font-size: 32px;
  cursor: pointer;
}

.page2Container .carousel .control-dots {
  padding: 0;
}
/*# sourceMappingURL=page2.css.map */