$desk: 100 / 1920;
$mob: 100 / 375;

* {
  margin: 0;
}
.page2Container {
  //   overflow-x: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  background: black;
  font-family: Montserrat-Regular;
  font-size: 25 * $desk + vw;
  color: white;
  flex-direction: row;
  @media only screen and (max-width: 800px) {
    flex-direction: column;
    height: auto;
    padding-bottom: 10vw;
  }
  .leftSection {
    .sliderSection {
      width: 1100 * $desk + vw;
      height: 86vh;
      @media only screen and (max-width: 800px) {
        width: 100vw;
        height: 60vh;
      }
      .carousel {
        width: 100%;
        // height: 950 * $desk + vw;
        height: 86vh;
        margin-top: 50px;
        @media only screen and (max-width: 800px) {
          height: 60vh;
        }
      }
      .slider-wrapper {
        height: 42vw;
        @media only screen and (max-width: 800px) {
          height: 115vw;
        }
      }
      img {
        height: 42vw;
        // height: 100%;
        object-fit: contain;
        @media only screen and (max-width: 800px) {
          height: 115vw;
          object-fit: contain;
        }
      }
    }
    .neighbourSection {
      position: absolute;
      width: 55.5vw;
      font-family: Raleway-Regular;
      font-size: 18 * $desk + vw;
      text-align: justify;
      padding-left: 30 * $desk + vw;
      margin-top: 0.8vw;
      @media only screen and (max-width: 800px) {
        display: none;
      }
    }
  }

  .rightSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 825 * $desk + vw;
    flex-direction: column;
    @media only screen and (max-width: 800px) {
      width: 100vw;
      // height: 196vw;
    }
    .projectHeader {
      width: 150 * $desk + vw;
      height: 150 * $desk + vw; // 7.59375vw;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        @media only screen and (max-width: 800px) {
          display: none;
        }
      }
    }
    .projectDesc {
      width: 460 * $desk + vw;
      text-align: justify;
      margin-top: 25 * $desk + vw;
      font-size: 18 * $desk + vw;
      line-height: 22 * $desk + vw;
      @media only screen and (max-width: 800px) {
        width: 80vw;
        font-size: 16 * $mob + vw;
        line-height: 20 * $mob + vw;
      }
    }
    #amenitiesContainer {
      display: block;
      width: 100%;
      // margin-bottom: 40px;
      .carousel-wrap {
        display: block;
        width: 37.875vw;
        // margin: 0 auto;
        overflow: hidden;
        @media only screen and (max-width: 800px) {
          width: 131.875vw;
          margin-bottom: 7vw;
        }
        ul {
          display: block;
          list-style: none;
          position: relative;
          display: flex;
          width: 110vw;
          @media only screen and (max-width: 800px) {
            width: 325vw;
            padding: 0;
          }
          li {
            display: block;
            float: left;
            position: relative;
            width: 40.875vw;
            margin-right: 15px;
            @media only screen and (max-width: 800px) {
              width: 100vw;
            }
            img {
              width: 6.94792vw;
              height: 8.8vw;
              object-fit: contain;
              @media only screen and (max-width: 800px) {
                width: 25vw;
                height: 28vw;
                object-fit: cover;
              }
            }
          }
        }
      }

      p {
        margin-top: 1vw;
        text-align: center;
        @media only screen and (max-width: 800px) {
          margin-top: 3vw;
          margin-bottom: 3vw;
          font-family: Montserrat-SemiBold;
          font-size: 21 * $mob + vw;
          line-height: 20 * $mob + vw;
        }
      }
    }
    .arrow-Container {
      position: absolute;
      display: flex;
      justify-content: center;
      width: 40.96875vw;
      @media only screen and (max-width: 800px) {
        width: 100vw;
      }
      .leftArrow {
        position: relative;
        width: 16 * $desk + vw;
        height: 20 * $desk + vw;
        transform: rotate(180deg);
        // left: -2.5vw;
        // top: 7vw;
        margin-right: 1vw;
        cursor: pointer;
        opacity: 1;
        @media only screen and (max-width: 800px) {
          width: 3.83333vw;
          margin-right: 6vw;
          height: 4.04167vw;
        }
      }
      .rightArrow {
        position: relative;
        width: 16 * $desk + vw;
        margin-left: 1vw;
        height: 20 * $desk + vw;
        // right: -23.5vw;
        // top: 7vw;
        cursor: pointer;
        opacity: 1;
        @media only screen and (max-width: 800px) {
          margin-left: 6vw;
          width: 3.83333vw;
          height: 4.04167vw;
        }
      }
    }

    // .amenitiesContainer {
    //   position: relative;
    //   width: 460 * $desk + vw;
    //   height: 280 * $desk + vw;
    //   @media only screen and (max-width: 800px) {
    //     width: 100vw;
    //     height: 55vw;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //   }
    //   p {
    //     margin-top: 2vw;
    //     @media only screen and (max-width: 800px) {
    //       font-size: 16 * $mob + vw;
    //       line-height: 20 * $mob + vw;
    //     }
    //   }
    //   .iconParentContainer {
    //     width: 460 * $desk + vw;
    //     height: 13vw;
    //     overflow-x: hidden;
    //     @media only screen and (max-width: 800px) {
    //       width: 88vw;
    //       height: 78vw;
    //     }
    //     .iconChildContainer {
    //       height: 12vw;
    //       // width: 895 * $desk + vw;
    //       width: 23.61458vw;
    //       //   overflow-x: scroll;
    //       //   overflow-y: hidden;

    //       img {
    //         width: 90 * $desk + vw;
    //         height: 6.29167vw;
    //         // height: 140 * $desk + vw;
    //         object-fit: contain;
    //       }
    //     }
    //     .iconChildContainer2 {
    //       height: 12vw;
    //       width: 925 * $desk + vw;
    //       display: flex;
    //       @media only screen and (max-width: 800px) {
    //         width: 98vw;
    //       }
    //       // width: 23.61458vw;
    //       //   overflow-x: scroll;
    //       //   overflow-y: hidden;

    //       img {
    //         width: 90 * $desk + vw;
    //         height: 6.29167vw;
    //         // height: 140 * $desk + vw;
    //         object-fit: contain;
    //         @media only screen and (max-width: 800px) {
    //           width: 18vw;
    //           height: 20vw;
    //         }
    //       }
    //       .container1 {
    //         width: 450 * $desk + vw;
    //         height: 13vw;
    //         overflow: hidden;
    //         @media only screen and (max-width: 800px) {
    //           width: 300vw;
    //           height: 43vw;
    //         }
    //       }
    //       .container2 {
    //         width: 460 * $desk + vw;
    //         height: 13vw;
    //         overflow: hidden;
    //       }
    //       .container3 {
    //         width: 470 * $desk + vw;
    //         height: 13vw;
    //         overflow: hidden;
    //       }
    //     }
    //   }
    //   .leftArrow {
    //     position: relative;
    //     width: 16 * $desk + vw;
    //     height: 20 * $desk + vw;
    //     transform: rotate(180deg);
    //     left: -2.5vw;
    //     top: 7vw;
    //     cursor: unset;
    //     opacity: 0.5;
    //   }
    //   .rightArrow {
    //     position: relative;
    //     width: 16 * $desk + vw;
    //     height: 20 * $desk + vw;
    //     right: -23.5vw;
    //     top: 7vw;
    //     cursor: pointer;
    //     opacity: 1;
    //   }
    // }
    .neighbourrInfo {
      display: none;
      @media only screen and (max-width: 800px) {
        display: block;
        width: 80vw;
        font-size: 16 * $mob + vw;
        line-height: 20 * $mob + vw;
        text-align: justify;
      }
    }
  }
  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  .clearfix {
    display: inline-block;
  }

  html[xmlns] .clearfix {
    display: block;
  }
  * html .clearfix {
    height: 1%;
  }
  .carousel .control-arrow,
  .carousel.carousel-slider .control-arrow {
    transition: all 0.25s ease-in;
    opacity: 1;
    position: absolute;
    z-index: 2;
    top: 20px;
    background: 0 0;
    border: 0;
    font-size: 32px;
    cursor: pointer;
  }
  .carousel .control-dots {
    padding: 0;
  }
}

// {
//     "Version": "2012-10-17",
//     "Statement": [
//         {
//             "Sid": "AddPerm",
//             "Effect": "Allow",
//             "Principal": "*",
//             "Action": "s3:GetObject",
//             "Resource": "arn:aws:s3:::chinagate/*"
//         }
//     ]
// }
