.Menu-container {
  position: absolute;
  top: 0;
  left: 80vw;
  width: 20vw;
  height: 45vh;
  background: #fafafa;
  font-family: Montserrat-Light;
  font-size: 0.78125vw;
  -webkit-box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.25);
          box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 800px) {
  .Menu-container {
    position: relative;
    font-size: 4.8vw;
    width: 100vw;
    height: 100vh;
    left: unset;
  }
}

.Menu-container a {
  text-decoration: none;
  color: #949494;
}

.Menu-container .activeRoute {
  color: black;
}

.Menu-container .close {
  cursor: pointer;
  float: left;
  margin-left: 1.5625vw;
  padding-top: 1.04167vw;
  color: black;
  font-size: 0.83333vw;
}

@media only screen and (max-width: 800px) {
  .Menu-container .close {
    font-size: 4.8vw;
  }
}

.Menu-container .close img {
  width: 0.78125vw;
  height: 0.78125vw;
  margin-right: 0.52083vw;
}

@media only screen and (max-width: 800px) {
  .Menu-container .close img {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .Menu-container .close {
    float: right;
    margin-left: unset;
    margin-right: 6.66667vw;
    padding-top: 6.93333vw;
  }
}

.Menu-container ul {
  position: absolute;
  left: 50%;
  top: 20%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  list-style: none;
  color: #949494;
  margin: 0;
  padding: 0;
  font-size: 1.30208vw;
  width: unset;
}

@media only screen and (max-width: 800px) {
  .Menu-container ul {
    font-size: 9.6vw;
    width: 66vw;
    top: 20%;
  }
}

.Menu-container ul li {
  margin-bottom: 1.5625vw;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .Menu-container ul li {
    margin-bottom: 8.21333vw;
  }
}

.Menu-container .menu-logo {
  position: absolute;
  bottom: 4.04688vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: none;
}

.Menu-container .menu-logo img {
  height: 1.51042vw;
  margin-right: 2.42188vw;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .Menu-container .menu-logo img {
    display: block;
    height: 5.6vw;
    margin-right: 5.33333vw;
    margin-left: 5.33333vw;
  }
}

@media only screen and (max-width: 800px) {
  .Menu-container .menu-logo i {
    font-size: 5.86667vw;
    margin-right: 7.2vw;
    margin-left: 7.2vw;
  }
}

@media only screen and (max-width: 800px) {
  .Menu-container .menu-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    bottom: 8.66667vw;
  }
}
/*# sourceMappingURL=menu.css.map */