$desk: 100/1920;
$mob: 100/375;

.Menu-container {
  position: absolute;
  top: 0;
  left: 80vw;
  width: 20vw;
  height: 45vh;
  background: #fafafa;
  // background: red;
  font-family: Montserrat-Light;
  font-size: 15 * $desk + vw;
  // z-index: 699;
  box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.25);
  @media only screen and (max-width: 800px) {
    position: relative;
    font-size: 18 * $mob + vw;
    width: 100vw;
    height: 100vh;
    left: unset;
  }
  a {
    text-decoration: none;
    color: #949494;
  }
  .activeRoute {
    color: black;
  }
  .close {
    cursor: pointer;
    float: left;
    margin-left: 30 * $desk + vw;
    padding-top: 20 * $desk + vw;
    color: black;
    font-size: 16 * $desk + vw;
    @media only screen and (max-width: 800px) {
      font-size: 18 * $mob + vw;
    }
    img {
      width: 15 * $desk + vw;
      height: 15 * $desk + vw;
      margin-right: 10 * $desk + vw;
      @media only screen and (max-width: 800px) {
        display: none;
      }
    }
    @media only screen and (max-width: 800px) {
      float: right;
      margin-left: unset;
      margin-right: 25 * $mob + vw;
      padding-top: 26 * $mob + vw;
    }
  }
  ul {
    // position: relative;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    // transform: translateX(50%);
    list-style: none;
    color: #949494;
    margin: 0;
    padding: 0;
    font-size: 25 * $desk + vw;
    width: unset;
    @media only screen and (max-width: 800px) {
      font-size: 36 * $mob + vw;
      width: 66vw;
      top: 20%;
    }
    li {
      margin-bottom: 30 * $desk + vw;
      text-align: center;
      @media only screen and (max-width: 800px) {
        margin-bottom: 30.8 * $mob + vw;
      }
    }
  }
  .menu-logo {
    position: absolute;
    bottom: 77.7 * $desk + vw;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    img {
      height: 29 * $desk + vw;
      margin-right: 46.5 * $desk + vw;
      cursor: pointer;

      @media only screen and (max-width: 800px) {
        display: block;
        height: 21 * $mob + vw;
        margin-right: 20 * $mob + vw;
        margin-left: 20 * $mob + vw;
      }
    }
    i {
      @media only screen and (max-width: 800px) {
        font-size: 22 * $mob + vw;
        margin-right: 27 * $mob + vw;
        margin-left: 27 * $mob + vw;
      }
    }
    @media only screen and (max-width: 800px) {
      display: flex;
      // transform: translateX(-35%);
      // justify-content: center;
      align-items: center;
      bottom: 32.5 * $mob + vw;
    }
  }
}
