.h1-container {
  font-family: Montserrat-Medium;
  font-size: 1.66667vw;
  color: black;
}

@media only screen and (max-width: 800px) {
  .h1-container {
    font-family: Montserrat-SemiBold;
    font-size: 3.46667vw;
  }
}
/*# sourceMappingURL=h1.css.map */