$desk: 100 / 1920;
$mob: 100 / 375;

.h1-container {
  font-family: Montserrat-Medium;
  font-size: 32 * $desk + vw;
  color: black;
  @media only screen and (max-width: 800px) {
    font-family: Montserrat-SemiBold;
    font-size: 13 * $mob + vw;
  }
}
