@media only screen and (max-width: 800px) {
  .aboutUs-Container {
    position: relative;
  }
}

.aboutUs-Container .customCss1 {
  position: absolute;
  width: 100vw;
  display: none;
  height: 100vh;
}

@media only screen and (max-width: 800px) {
  .aboutUs-Container .customCss1 {
    position: relative;
    height: 108vh;
  }
}

.aboutUs-Container .customCss2 {
  position: absolute;
  display: none;
  width: 100vw;
  height: 100vh;
}

@media only screen and (max-width: 800px) {
  .aboutUs-Container .customCss2 {
    position: relative;
  }
}

.aboutUs-Container .customCss3 {
  position: absolute;
  display: none;
  width: 100vw;
  height: 100vh;
}

@media only screen and (max-width: 800px) {
  .aboutUs-Container .customCss3 {
    position: relative;
  }
}

.aboutUs-Container .customCss4 {
  position: absolute;
  display: none;
  width: 100vw;
  height: 100vh;
}

@media only screen and (max-width: 800px) {
  .aboutUs-Container .customCss4 {
    position: relative;
  }
}

.aboutUs-Container .customCss5 {
  position: absolute;
  display: none;
  width: 100vw;
  height: 100vh;
}

@media only screen and (max-width: 800px) {
  .aboutUs-Container .customCss5 {
    height: 111vh;
    position: relative;
  }
}

.aboutUs-Container .section-2 {
  position: relative;
}

.aboutUs-Container .section-1 {
  position: relative;
  height: 0%;
  -webkit-transition: height 1s;
  transition: height 1s;
  margin-bottom: 1vw;
  border-left: 1px solid #707070;
  width: 71.19792vw;
}

@media only screen and (max-width: 800px) {
  .aboutUs-Container .section-1 {
    display: none;
  }
}

.aboutUs-Container .section-3 {
  position: relative;
  height: 0%;
  -webkit-transition: height 1s;
  transition: height 1s;
  border-left: 1px solid #707070;
  margin-top: 1vw;
}

@media only screen and (max-width: 800px) {
  .aboutUs-Container .section-3 {
    display: none;
  }
}

.aboutUs-Container .aboutus-footer {
  position: absolute;
  bottom: 0;
}

.aboutUs-Container .aboutus-footer .footer-container {
  width: 100vw;
}
/*# sourceMappingURL=about.css.map */