$desk: 100 / 1920;
$mob: 100 / 375;
.aboutUs-Container {
  @media only screen and (max-width: 800px) {
    position: relative;
  }
  .customCss1 {
    position: absolute;
    // z-index: 10;
    width: 100vw;
    display: none;
    height: 100vh;
    @media only screen and (max-width: 800px) {
      position: relative;
      height: 108vh;
    }
  }
  .customCss2 {
    position: absolute;
    display: none;
    // z-index: 11;
    width: 100vw;
    height: 100vh;
    @media only screen and (max-width: 800px) {
      position: relative;
    }
  }
  .customCss3 {
    position: absolute;
    display: none;
    // z-index: 12;
    width: 100vw;
    height: 100vh;
    @media only screen and (max-width: 800px) {
      position: relative;
    }
  }
  .customCss4 {
    position: absolute;
    display: none;
    // z-index: 12;
    width: 100vw;
    height: 100vh;
    @media only screen and (max-width: 800px) {
      position: relative;
    }
  }
  .customCss5 {
    position: absolute;
    display: none;
    // z-index: 18;
    width: 100vw;
    height: 100vh;
    @media only screen and (max-width: 800px) {
      height: 111vh;
      position: relative;
    }
  }
  .section-2 {
    position: relative;

    // top: 25%;
    // transform: translateY(-50%);
  }
  .section-1 {
    position: relative;
    // height: 25%;
    height: 0%;
    transition: height 1s;
    margin-bottom: 1vw;

    border-left: 1px solid #707070;
    width: 1367 * $desk + vw;
    @media only screen and (max-width: 800px) {
      display: none;
    }
  }
  .section-3 {
    position: relative;
    // height: 100%;
    height: 0%;
    transition: height 1s;
    border-left: 1px solid #707070;
    margin-top: 1vw;
    @media only screen and (max-width: 800px) {
      display: none;
    }
  }
  .aboutus-footer {
    position: absolute;
    bottom: 0;
    // z-index: 9;
    .footer-container {
      width: 100vw;
    }
  }
}
