$desk: 100 / 1920;
$mob: 100 / 375;

.pressContainer {
  height: auto;
  margin-bottom: 100 * $desk + vw;
  @media only screen and (max-width: 800px) {
    height: auto;
    margin-bottom: 60 * $mob + vw;
  }

  .panelContainer {
    position: relative;
    width: 100%;
    display: flex;
    @media only screen and (max-width: 800px) {
      position: relative;
      // top: 174 * $mob + vw;
      // left: 50%;
    }
    .newsSection {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
.press-footer {
  position: relative;
  // z-index: 9;
  bottom: 0;
  margin-top: unset;

  .footer-container {
    width: 100vw;
  }
  //   display: table;
}
