.pressContainer {
  height: auto;
  margin-bottom: 5.20833vw;
}

@media only screen and (max-width: 800px) {
  .pressContainer {
    height: auto;
    margin-bottom: 16vw;
  }
}

.pressContainer .panelContainer {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 800px) {
  .pressContainer .panelContainer {
    position: relative;
  }
}

.pressContainer .panelContainer .newsSection {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.press-footer {
  position: relative;
  bottom: 0;
  margin-top: unset;
}

.press-footer .footer-container {
  width: 100vw;
}
/*# sourceMappingURL=press.css.map */