@media only screen and (max-width: 800px) {
  .aboutus01-container {
    position: relative;
  }
}

.aboutus01-container .panelContainer {
  overflow: hidden;
  position: absolute;
  width: 71.19792vw;
  height: 30.20833vw;
  top: 10.9375vw;
  left: 23.4375vw;
}

@media only screen and (max-width: 800px) {
  .aboutus01-container .panelContainer {
    width: 85.06667vw;
    left: 5.06667vw;
    top: 36.5vw;
    height: auto;
  }
}

.aboutus01-container .arrow-header {
  display: none;
}

@media only screen and (max-width: 800px) {
  .aboutus01-container .arrow-header {
    display: block;
    position: absolute;
    font-family: Montserrat-Light;
    font-size: 2.93333vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 28vw;
  }
}
/*# sourceMappingURL=aboutus1.css.map */