$desk: 100 / 1920;
$mob: 100 / 375;

.aboutus01-container {
  @media only screen and (max-width: 800px) {
    position: relative;
  }
  .panelContainer {
    overflow: hidden;
    position: absolute;
    width: 1367 * $desk + vw;
    height: 580 * $desk + vw;
    top: 210 * $desk + vw;
    left: 450 * $desk + vw;
    @media only screen and (max-width: 800px) {
      width: 319 * $mob + vw;
      left: 19 * $mob + vw;

      top: 36.5vw;

      height: auto;
    }
  }
  .arrow-header {
    display: none;
    @media only screen and (max-width: 800px) {
      display: block;
      position: absolute;
      font-family: Montserrat-Light;
      font-size: 11 * $mob + vw;
      left: 50%;
      transform: translateX(-50%);
      // width: 60vw;
      bottom: 105 * $mob + vw;
    }
  }
}
