.portfolio-container {
  display: block;
}

.portfolio-container .panelContainer {
  position: absolute;
  top: 10.41667vw;
  width: 100%;
  min-height: 74.2vh;
}

@media only screen and (max-width: 800px) {
  .portfolio-container .panelContainer {
    top: 42.93333vw;
    width: 100vw;
  }
}

.portfolio-container .panelContainer .filter-bg {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 98.2;
  height: 4.27083vw;
  background: #f7f7f7;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.09375vw;
  padding-top: 1.3vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Montserrat-Medium;
}

.portfolio-container .panelContainer .filter-bg li {
  list-style: none;
  margin-left: 3.54167vw;
  font-family: Montserrat-Light;
  font-size: 1.09375vw;
  cursor: pointer;
  color: black;
  height: 2vw;
}

@media only screen and (max-width: 800px) {
  .portfolio-container .panelContainer .filter-bg {
    display: none;
  }
}

.portfolio-container .panelContainer .data-container {
  width: unset;
  padding-left: 4.0625vw;
  margin-top: 2.29167vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 800px) {
  .portfolio-container .panelContainer .data-container {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: unset;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.portfolio-container .panelContainer .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 4.0625vw;
}

@media only screen and (max-width: 800px) {
  .portfolio-container .panelContainer .projects {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.portfolio-container .panelContainer .projects .logoContainer {
  position: relative;
  margin-right: 5.88542vw;
  width: 25.625vw;
  margin-bottom: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio-container .panelContainer .projects .logoContainer .logoImage {
  width: 15.625vw;
  height: 15.625vw;
}

.portfolio-container .panelContainer .projects .logoContainer .logoImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.portfolio-container .panelContainer .projects .upcomingProjects {
  position: relative;
  width: 26.19792vw;
  height: 33.95833vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 5.38vw;
  margin-bottom: 2vw;
  padding: 1vw;
}

@media only screen and (max-width: 800px) {
  .portfolio-container .panelContainer .projects .upcomingProjects {
    width: 42.13333vw;
    margin-right: 5.3vw;
  }
}

.portfolio-container .panelContainer .projects .upcomingProjects .bg-image {
  position: absolute;
  /* top: 26%; */
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  /* margin: 0 auto; */
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: -1;
}

.portfolio-container .panelContainer .projects .upcomingProjects .header {
  font-family: Montserrat-SemiBold;
  font-size: 2vw;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .portfolio-container .panelContainer .projects .upcomingProjects .header {
    font-size: 3.5vw;
  }
}

.portfolio-container .panelContainer .projects .upcomingProjects .projectName {
  font-family: Montserrat-Medium;
  font-size: 0.9vw;
  margin: 1vw;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .portfolio-container .panelContainer .projects .upcomingProjects .projectName {
    font-size: 2vw;
  }
}

.portfolio-container .mobile-sublinks {
  display: none;
}

@media only screen and (max-width: 800px) {
  .portfolio-container .mobile-sublinks {
    display: none;
    position: relative;
    background: #f7f7f7;
    width: 100%;
    height: 13.06667vw;
    border: none;
    left: 0;
    top: 0;
    font-family: Montserrat-Light;
    margin-bottom: 1.6vw;
  }
  .portfolio-container .mobile-sublinks p {
    border-bottom: 1px solid black;
  }
}

@media only screen and (max-width: 800px) {
  .portfolio-container .mobile-sublinks .seeemore {
    display: block;
    position: absolute;
    right: 2.93333vw;
    top: 2.66667vw;
    margin-right: 5vw;
  }
}

.portfolio-container .mobile-sublinks .mob-drop-header {
  display: none;
}

@media only screen and (max-width: 800px) {
  .portfolio-container .mobile-sublinks .mob-drop-header {
    padding-top: 2.13333vw;
    color: #000000;
    display: block;
    font-size: 5.06667vw;
    top: -4vw;
    position: relative;
    text-align: center;
  }
}

.portfolio-container .mobile-sublinks .filter-icon {
  display: none;
}

@media only screen and (max-width: 800px) {
  .portfolio-container .mobile-sublinks .filter-icon {
    display: block;
    position: absolute;
    left: 3.46667vw;
    top: 4.66667vw;
    height: 4vw;
  }
}

.port-footer {
  position: relative;
}

@media only screen and (max-width: 800px) {
  .port-footer {
    bottom: -26.66667vw;
  }
}

.port-footer .footer-container {
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .port-footer .footer-container {
    width: 100vw;
  }
}

.drop-contt {
  display: none;
}

@media only screen and (max-width: 800px) {
  .drop-contt {
    display: none;
    width: 100vw;
    height: 48vw;
    background: #f7f7f7;
    margin-bottom: 2vw;
    padding: 0;
    left: 0;
    top: 0;
    text-align: center;
    margin-top: 0vw;
  }
}

.drop-contt ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: Montserrat-Light;
  font-size: 4.53333vw;
  text-align: center;
  padding-top: 4vw;
}

.drop-contt ul li {
  margin-top: 4vw;
  position: relative;
}

.js-content {
  display: none;
}

.js-content2 {
  display: inline-block;
}
/*# sourceMappingURL=portfolio.css.map */