$desk: 100 / 1920;
$mob: 100 / 375;

.portfolio-container {
  //   position: relative;
  display: block;
  .panelContainer {
    position: absolute;
    top: 200 * $desk + vw;
    width: 100%;
    min-height: 74.2vh;
    @media only screen and (max-width: 800px) {
      top: 161 * $mob + vw;
      width: 100vw;
    }
    .filter-bg {
      box-sizing: border-box;
      width: 98.2;
      height: 82 * $desk + vw;
      background: #f7f7f7;
      text-align: center;
      display: flex;
      font-size: 21 * $desk + vw;
      padding-top: 1.3vw;
      justify-content: center;
      font-family: Montserrat-Medium;
      li {
        list-style: none;
        margin-left: 68 * $desk + vw;
        font-family: Montserrat-Light;
        font-size: 21 * $desk + vw;
        cursor: pointer;
        color: black;
        height: 2vw;
      }
      @media only screen and (max-width: 800px) {
        display: none;
      }
    }
    .data-container {
      //   display: flex;
      width: unset;
      padding-left: 78 * $desk + vw;
      margin-top: 44 * $desk + vw;
      display: flex;
      flex-wrap: wrap;
      @media only screen and (max-width: 800px) {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        padding-left: unset;
        justify-content: space-evenly;
      }
    }
    .projects {
      display: flex;
      flex-wrap: wrap;
      padding-left: 4.0625vw;
      @media only screen and (max-width: 800px) {
        justify-content: center;
      }
      .logoContainer {
        position: relative;
        margin-right: 113 * $desk + vw;
        width: 492 * $desk + vw;
        //   height: 652 * $desk + vw;
        margin-bottom: 2vw;
        display: flex;
        justify-content: center;
        .logoImage {
          width: 300 * $desk + vw;
          height: 300 * $desk + vw;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
      .upcomingProjects {
        position: relative;
        width: 26.19792vw;
        height: 33.95833vw;
        box-sizing: border-box;
        margin-right: 5.38vw;
        margin-bottom: 2vw;
        // border: 1px solid black;
        padding: 1vw;
        @media only screen and (max-width: 800px) {
          width: 42.13333vw;
          margin-right: 5.3vw;
        }
        .bg-image {
          position: absolute;
          /* top: 26%; */
          transform: translateY(-50%);
          /* margin: 0 auto; */
          left: 50%;
          transform: translateX(-50%);
          width: 50%;
          height: 100%;
          object-fit: contain;
          z-index: -1;
        }
        .header {
          font-family: Montserrat-SemiBold;
          font-size: 2vw;
          text-align: center;
          @media only screen and (max-width: 800px) {
            font-size: 3.5vw;
          }
        }
        .projectName {
          font-family: Montserrat-Medium;
          font-size: 0.9vw;
          margin: 1vw;
          text-align: center;
          @media only screen and (max-width: 800px) {
            font-size: 2vw;
          }
        }
      }
    }
  }

  .mobile-sublinks {
    display: none;
    @media only screen and (max-width: 800px) {
      display: none;
      position: relative;
      background: #f7f7f7;
      width: 100%;
      height: 49 * $mob + vw;
      border: none;
      left: 0;
      top: 0;
      font-family: Montserrat-Light;
      // margin: auto;
      // margin-top: 3 * $mob + vw;
      margin-bottom: 6 * $mob + vw;
      // text-align: center;

      p {
        border-bottom: 1px solid black;
      }
    }
    .seeemore {
      @media only screen and (max-width: 800px) {
        display: block;
        position: absolute;
        right: 11 * $mob + vw;
        top: 10 * $mob + vw;
        margin-right: 5vw;
      }
    }
    .mob-drop-header {
      display: none;
      @media only screen and (max-width: 800px) {
        padding-top: 8 * $mob + vw;
        color: #000000;
        // font-family: MontserratThin;
        display: block;
        font-size: 19 * $mob + vw;
        top: -15 * $mob + vw;
        position: relative;
        // float: left;
        text-align: center;
      }
    }
    .filter-icon {
      display: none;
      @media only screen and (max-width: 800px) {
        display: block;
        position: absolute;
        left: 13 * $mob + vw;
        top: 17.5 * $mob + vw;
        height: 15 * $mob + vw;
      }
    }
  }
}
.port-footer {
  position: relative;
  //   top: 0;
  // bottom: -55 * $desk + vw;
  @media only screen and (max-width: 800px) {
    bottom: -100 * $mob + vw;
  }

  .footer-container {
    width: 100%;
    @media only screen and (max-width: 800px) {
      width: 100vw;
    }
  }
}

.drop-contt {
  display: none;
  @media only screen and (max-width: 800px) {
    display: none;
    width: 100vw;
    height: 180 * $mob + vw;
    background: #f7f7f7;
    // border: 1px solid black;
    // margin: auto;
    margin-bottom: 2vw;
    padding: 0;
    left: 0;
    top: 0;
    text-align: center;
    margin-top: 0vw;
    // z-index: 999;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: Montserrat-Light;
    font-size: 17 * $mob + vw;
    text-align: center;
    padding-top: 4vw;
    li {
      margin-top: 15 * $mob + vw;
      position: relative;
      // left: 25%;
    }
  }
}
.js-content {
  display: none;
}
.js-content2 {
  display: inline-block;
}
