$desk: 100 / 1920;
$mob: 100 / 375;

.aboutus02-container {
  .backSection {
    display: none;
    @media only screen and (max-width: 800px) {
      display: block;
      position: absolute;
      top: 9vw;
      left: 5vw;
      font-family: RalewayLight;
      z-index: 1;
      font-size: 3.2vw;
    }
    .backBtn {
      position: relative;
      top: 1.1vw;
      margin-right: 2vw;
      height: 4vw;
    }
  }

  .panelContainer {
    position: absolute;
    width: 1367 * $desk + vw;
    height: 580 * $desk + vw;
    overflow: hidden;
    top: 210 * $desk + vw;
    left: 450 * $desk + vw;

    @media only screen and (max-width: 800px) {
      width: 333 * $mob + vw;
      left: 19 * $mob + vw;

      top: 180 * $mob + vw;
      height: auto;
    }
  }
  .p-adjust {
    // width: 945 * $desk + vw;
    width: 100%;
    // margin-bottom: 0.4vw;
    @media only screen and (max-width: 800px) {
      width: 333 * $mob + vw;
      margin-bottom: 0vw;
    }
  }
  .arrow-header {
    display: none;
    @media only screen and (max-width: 800px) {
      display: block;
      position: absolute;
      font-family: Montserrat-Light;
      left: 50%;
      font-size: 11 * $mob + vw;
      transform: translateX(-50%);
      // width: 60vw;
      bottom: 105 * $mob + vw;
    }
  }
}
