$desk: 100 / 1920;
$mob: 100 / 375;

.aboutus05-container {
  .backSection {
    display: none;
    @media only screen and (max-width: 800px) {
      display: block;
      position: absolute;
      top: 9vw;
      left: 5vw;
      font-family: RalewayLight;
      z-index: 1;
      font-size: 3.2vw;
    }
    .backBtn {
      position: relative;
      top: 1.1vw;
      margin-right: 2vw;
      height: 4vw;
    }
  }

  .p-adjust {
    color: black;
    font-family: Montserrat-SemiBold;
    margin-bottom: 13 * $desk + vw;
    @media only screen and (max-width: 800px) {
      font-family: Montserrat-SemiBold;
      font-size: 13 * $mob + vw;
      margin-top: 10 * $mob + vw;
      margin-bottom: 10 * $mob + vw;
    }
  }
  .panelContainer {
    position: absolute;
    width: 1367 * $desk + vw;
    top: 95 * $desk + vw;
    height: 580 * $desk + vw;
    left: 450 * $desk + vw;
    @media only screen and (max-width: 800px) {
      width: 345 * $mob + vw;
      top: 150 * $mob + vw;
      left: 50%;
      transform: translateX(-50%);
      height: auto;
    }
    .teamContainer {
      width: 100%;
      padding-top: 5vw;
      @media only screen and (max-width: 800px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1vw;
      }
      .teamHeader {
        display: flex;
        width: 100%;
        font-family: Montserrat-SemiBold;
        justify-content: space-evenly;
        font-size: 1.2vw;
        @media only screen and (max-width: 800px) {
          font-family: Montserrat-SemiBold;
          font-size: 17 * $mob + vw;
          margin-top: 10 * $mob + vw;
          // margin-bottom: 10 * $mob + vw;
          height: 35vw;
          flex-wrap: wrap;
          width: 100%;
          justify-content: space-around;
          align-items: center;
        }
        p {
          cursor: pointer;
          // width: 14vw;
          @media only screen and (max-width: 800px) {
            // width: 44vw;
            text-align: center;
          }
        }

        p:nth-child(3) {
          @media only screen and (max-width: 800px) {
            margin-right: 7vw;
          }
        }
      }
      .teamContent {
        margin-top: 5vw;
        @media only screen and (max-width: 800px) {
          margin-top: 3vw;
        }
        p {
          font-family: Montserrat-Regular;
          font-size: 1.1vw;
          color: #707070;
          text-align: justify;
          margin-bottom: 0.9vw;
          @media only screen and (max-width: 800px) {
            font-family: Montserrat-Regular;
            font-size: 3.46667vw;
            margin-top: 2.66667vw;
            margin-bottom: 2.66667vw;
          }
        }
      }
    }
    // .team-images {
    //   width: 326 * $desk + vw;
    //   height: 454 * $desk + vw;
    //   margin-right: 30 * $desk + vw;
    //   margin-bottom: 17 * $desk + vw;
    //   padding-bottom: 1vw;
    //   cursor: pointer;
    //   filter: grayscale(1);
    // }
    // .team-image {
    //   width: 76vw;
    //   @media only screen and (max-width: 800px) {
    //     display: flex;
    //     width: unset;
    //   }
    // }
    // .active-img {
    //   border-bottom: 1px solid black;
    //   filter: grayscale(0);
    //   @media only screen and (max-width: 800px) {
    //     width: 140.5 * $mob + vw;
    //     height: 194.5 * $mob + vw;
    //     border-bottom: unset;
    //   }
    // }
    .title-line1 {
      position: absolute;
      top: 0;
      left: -20 * $desk + vw;
      width: 1 * $desk + vw;
      height: 375 * $desk + vh;
      background: #707070;
      @media only screen and (max-width: 800px) {
        display: none;
      }
    }
    .title-line2 {
      position: absolute;
      top: 450 * $desk + vw;
      // left: -1.5625vw;
      left: -20 * $desk + vw;
      width: 1 * $desk + vw;
      height: 25.11458vh;
      background: #707070;
      @media only screen and (max-width: 800px) {
        display: none;
      }
    }
  }
  // .textAdjust {
  //   left: 0.02083vw;
  // }
}

.activeTeam {
  border-bottom: 1px solid black;
}
