.aboutus05-container .backSection {
  display: none;
}

@media only screen and (max-width: 800px) {
  .aboutus05-container .backSection {
    display: block;
    position: absolute;
    top: 9vw;
    left: 5vw;
    font-family: RalewayLight;
    z-index: 1;
    font-size: 3.2vw;
  }
}

.aboutus05-container .backSection .backBtn {
  position: relative;
  top: 1.1vw;
  margin-right: 2vw;
  height: 4vw;
}

.aboutus05-container .p-adjust {
  color: black;
  font-family: Montserrat-SemiBold;
  margin-bottom: 0.67708vw;
}

@media only screen and (max-width: 800px) {
  .aboutus05-container .p-adjust {
    font-family: Montserrat-SemiBold;
    font-size: 3.46667vw;
    margin-top: 2.66667vw;
    margin-bottom: 2.66667vw;
  }
}

.aboutus05-container .panelContainer {
  position: absolute;
  width: 71.19792vw;
  top: 4.94792vw;
  height: 30.20833vw;
  left: 23.4375vw;
}

@media only screen and (max-width: 800px) {
  .aboutus05-container .panelContainer {
    width: 92vw;
    top: 40vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: auto;
  }
}

.aboutus05-container .panelContainer .teamContainer {
  width: 100%;
  padding-top: 5vw;
}

@media only screen and (max-width: 800px) {
  .aboutus05-container .panelContainer .teamContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 1vw;
  }
}

.aboutus05-container .panelContainer .teamContainer .teamHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-family: Montserrat-SemiBold;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 1.2vw;
}

@media only screen and (max-width: 800px) {
  .aboutus05-container .panelContainer .teamContainer .teamHeader {
    font-family: Montserrat-SemiBold;
    font-size: 4.53333vw;
    margin-top: 2.66667vw;
    height: 35vw;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.aboutus05-container .panelContainer .teamContainer .teamHeader p {
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .aboutus05-container .panelContainer .teamContainer .teamHeader p {
    text-align: center;
  }
}

@media only screen and (max-width: 800px) {
  .aboutus05-container .panelContainer .teamContainer .teamHeader p:nth-child(3) {
    margin-right: 7vw;
  }
}

.aboutus05-container .panelContainer .teamContainer .teamContent {
  margin-top: 5vw;
}

@media only screen and (max-width: 800px) {
  .aboutus05-container .panelContainer .teamContainer .teamContent {
    margin-top: 3vw;
  }
}

.aboutus05-container .panelContainer .teamContainer .teamContent p {
  font-family: Montserrat-Regular;
  font-size: 1.1vw;
  color: #707070;
  text-align: justify;
  margin-bottom: 0.9vw;
}

@media only screen and (max-width: 800px) {
  .aboutus05-container .panelContainer .teamContainer .teamContent p {
    font-family: Montserrat-Regular;
    font-size: 3.46667vw;
    margin-top: 2.66667vw;
    margin-bottom: 2.66667vw;
  }
}

.aboutus05-container .panelContainer .title-line1 {
  position: absolute;
  top: 0;
  left: -1.04167vw;
  width: 0.05208vw;
  height: 19.53125vh;
  background: #707070;
}

@media only screen and (max-width: 800px) {
  .aboutus05-container .panelContainer .title-line1 {
    display: none;
  }
}

.aboutus05-container .panelContainer .title-line2 {
  position: absolute;
  top: 23.4375vw;
  left: -1.04167vw;
  width: 0.05208vw;
  height: 25.11458vh;
  background: #707070;
}

@media only screen and (max-width: 800px) {
  .aboutus05-container .panelContainer .title-line2 {
    display: none;
  }
}

.activeTeam {
  border-bottom: 1px solid black;
}
/*# sourceMappingURL=aboutus5.css.map */