input[type="text"] {
  width: 18.4375vw;
  padding-bottom: 1.40625vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #707070;
  line-height: 1.82292vw;
  font-size: 1.09375vw;
  margin-bottom: 2.52604vw;
  outline: none;
}

@media only screen and (max-width: 800px) {
  input[type="text"] {
    font-size: 3.46667vw;
    width: 66.93333vw;
    margin-bottom: 5.86667vw;
    padding-bottom: 3.2vw;
  }
}

::-webkit-input-placeholder {
  color: black;
  font-size: 1.09375vw;
  font-family: Montserrat-Medium;
  line-height: 1.82292vw;
}

:-ms-input-placeholder {
  color: black;
  font-size: 1.09375vw;
  font-family: Montserrat-Medium;
  line-height: 1.82292vw;
}

::-ms-input-placeholder {
  color: black;
  font-size: 1.09375vw;
  font-family: Montserrat-Medium;
  line-height: 1.82292vw;
}

::placeholder {
  color: black;
  font-size: 1.09375vw;
  font-family: Montserrat-Medium;
  line-height: 1.82292vw;
}

@media only screen and (max-width: 800px) {
  ::-webkit-input-placeholder {
    line-height: 3.46667vw;
    font-size: 3.46667vw;
  }
  :-ms-input-placeholder {
    line-height: 3.46667vw;
    font-size: 3.46667vw;
  }
  ::-ms-input-placeholder {
    line-height: 3.46667vw;
    font-size: 3.46667vw;
  }
  ::placeholder {
    line-height: 3.46667vw;
    font-size: 3.46667vw;
  }
}
/*# sourceMappingURL=inputbox.css.map */