.link-container {
  position: absolute;
  display: block;
  width: 10vw;
  height: auto;
  left: 0;
  top: 22.08333vw;
  z-index: 7;
}

@media only screen and (max-width: 800px) {
  .link-container {
    display: none;
  }
}

.link-container .active-line {
  height: 2.34375vw;
  position: relative;
}

.link-container .active-line .line {
  width: 0vw;
  height: 0.07812vw;
  background: #707070;
  -webkit-transition: width 1s;
  transition: width 1s;
  position: absolute;
  left: 0;
}

.link-container .active-line .section-number {
  position: absolute;
  left: 5.46875vw;
  top: -0.52083vw;
  width: auto;
  text-align: right;
  color: black;
  font-size: 1.19792vw;
  font-family: Montserrat-Bold;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 1;
  white-space: nowrap;
}

@media only screen and (max-width: 800px) {
  .link-container .active-line .section-number {
    font-size: 4.8vw;
  }
}

.link-container .inactive-line {
  cursor: pointer;
  position: relative;
  height: 2.34375vw;
}

.link-container .inactive-line .line {
  width: 0vw;
  height: 0.10417vw;
  background: #707070;
  -webkit-transition: width 1s;
  transition: width 1s;
  position: absolute;
  left: 0;
}

.link-container .inactive-line .section-number {
  position: absolute;
  left: 2.86458vw;
  top: -0.52083vw;
  width: 12vw;
  text-align: left;
  color: black;
  font-size: 0.83333vw;
  font-family: Montserrat-Bold;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 1;
}

@media only screen and (max-width: 800px) {
  .link-container .inactive-line .section-number {
    font-size: 4.8vw;
  }
}

.link-container .inactive-line .line:hover {
  background: black;
}
/*# sourceMappingURL=link.css.map */