$desk: 100 / 1920;
$mob: 100 / 375;
$transition-duration: 1s;

.link-container {
  position: absolute;
  display: block;
  width: 10vw;
  height: auto;
  //   background: red;
  left: 0;
  top: 424 * $desk + vw;
  z-index: 7;
  @media only screen and (max-width: 800px) {
    display: none;
  }
  .active-line {
    height: 45 * $desk + vw;
    position: relative;
    .line {
      // width: 95 * $desk + vw;
      width: 0 * $desk + vw;
      height: 1.5 * $desk + vw;
      background: #707070;
      transition: width 1s;
      position: absolute;
      //   top: 0;
      left: 0;
    }
    .section-number {
      position: absolute;
      left: 105 * $desk + vw;
      top: -10 * $desk + vw;
      width: auto;
      // float: right;
      text-align: right;
      color: black;
      // top: 50%;
      // transform: translateY(-50%);
      // width: 18vw;
      font-size: 23 * $desk + vw;
      font-family: Montserrat-Bold;
      transition: $transition-duration;
      opacity: 1;
      white-space: nowrap;
      //font styling missing-done
      @media only screen and (max-width: 800px) {
        font-size: 18 * $mob + vw;
        //float: left;
        //margin-left: 80 * $mob + vw;
      }
    }
  }
  .inactive-line {
    cursor: pointer;

    position: relative;
    height: 45 * $desk + vw;

    .line {
      // width: 35 * $desk + vw;
      width: 0 * $desk + vw;
      height: 2 * $desk + vw;
      background: #707070;
      //   margin-top: 1vw;
      transition: width 1s;
      position: absolute;
      //   top: 0;
      left: 0;
    }
    .section-number {
      position: absolute;
      left: 55 * $desk + vw;
      top: -10 * $desk + vw;
      width: 12vw;
      // float: right;
      text-align: left;
      color: black;
      // top: 50%;
      // transform: translateY(-50%);
      font-size: 16 * $desk + vw;
      font-family: Montserrat-Bold;
      transition: $transition-duration;
      opacity: 1;
      //font styling missing-done
      @media only screen and (max-width: 800px) {
        font-size: 18 * $mob + vw;
        //float: left;
        //margin-left: 80 * $mob + vw;
      }
    }
    .line:hover {
      background: black;
    }
  }
}

// .lineContainer {
//   position: relative;
//   //margin-bottom: 20 * $desk + vw;
//   transition: $transition-duration;

//   .line-custom {
//     background-color: transparent;
//     width: 45 * $desk + vw;
//     transition: $transition-duration;
//     height: 46 * $desk + vw;
//     // background: green;
//     cursor: pointer;
//     border-bottom: 1.5 * $desk + vw solid #707070;

//     @media only screen and (max-width: 800px) {
//       width: 32 * $mob + vw;
//       height: 1.5 * $mob + vw;
//       padding-bottom: 20 * $mob + vw;
//     }
//   }
//   .line-custom:hover {
//     // width: 76 * $desk + vw;
//     border-bottom: 1.5 * $desk + vw solid black;
//   }
// }
// .active-line {
//   width: 105 * $desk + vw;
//   //margin-bottom: 20 * $desk + vw;
//   transition: $transition-duration;

//   @media only screen and (max-width: 800px) {
//     width: 95 * $mob + vw;
//     padding-top: 20 * $mob + vw;
//   }
//   .line-custom {
//     background-color: transparent;
//     width: 105 * $desk + vw;
//     margin-right: 20 * $desk + vw;
//     transition: $transition-duration;
//     height: 46 * $desk + vw;
//     //background: green;
//     border-bottom: 1.5 * $desk + vw solid #707070;
//     @media only screen and (max-width: 800px) {
//       width: 67.5 * $mob + vw;
//       height: 2 * $mob + vw;
//       //margin-bottom: 20 * $mob + vw;
//     }
//   }
//   .section-number {
//     position: absolute;
//     left: 130 * $desk + vw;
//     top: 175 * $desk + vw;
//     width: 18vw;
//     // float: right;
//     text-align: right;
//     color: red;
//     // top: 50%;
//     // transform: translateY(-50%);
//     font-size: 23 * $desk + vw;
//     font-family: Montserrat-Bold;
//     transition: $transition-duration;
//     opacity: 1;
//     //font styling missing-done
//     @media only screen and (max-width: 800px) {
//       font-size: 18 * $mob + vw;
//       //float: left;
//       //margin-left: 80 * $mob + vw;
//     }
//   }
// }
