.page3Container {
  height: 100vh;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 800px) {
  .page3Container {
    height: auto;
  }
}

.page3Container .renderMap {
  width: 75.52083vw;
  height: 39.0625vw;
  padding-top: 1vw;
}

@media only screen and (max-width: 800px) {
  .page3Container .renderMap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 65vw;
    width: 100vw;
  }
}

.page3Container .renderMap img {
  width: 75.52083vw;
  height: 36.45833vw;
  -o-object-fit: contain;
     object-fit: contain;
}

@media only screen and (max-width: 800px) {
  .page3Container .renderMap img {
    width: 120%;
    height: 82%;
  }
}

.page3Container .renderMapThumb {
  margin-bottom: 2vw;
}

@media only screen and (max-width: 800px) {
  .page3Container .renderMapThumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.page3Container .renderMapThumb img {
  width: 8.85417vw;
  height: 8.85417vw;
  -webkit-filter: contrast(0);
          filter: contrast(0);
  cursor: pointer;
  -o-object-fit: contain;
     object-fit: contain;
}

@media only screen and (max-width: 800px) {
  .page3Container .renderMapThumb img {
    width: 26.5vw;
    height: 26.5vw;
  }
}

.page3Container .footer-container {
  margin-top: 0;
}

.activeThumb {
  -webkit-filter: grayscale(0) !important;
          filter: grayscale(0) !important;
}
/*# sourceMappingURL=page3.css.map */