$desk: 100 / 1920;
$mob: 100 / 375;

.page3Container {
  // width: 100vw;
  height: 100vh;
  background: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  @media only screen and (max-width: 800px) {
    height: auto;
  }
  .renderMap {
    width: 1450 * $desk + vw;
    height: 750 * $desk + vw;
    padding-top: 1vw;
    @media only screen and (max-width: 800px) {
      display: flex;
      justify-content: center;
      height: 65vw;
      width: 100vw;
    }
    img {
      width: 1450 * $desk + vw;
      height: 700 * $desk + vw;
      object-fit: contain;
      @media only screen and (max-width: 800px) {
        width: 120%;
        height: 82%;
      }
    }
  }
  .renderMapThumb {
    margin-bottom: 2vw;
    @media only screen and (max-width: 800px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    img {
      width: 170 * $desk + vw;
      height: 170 * $desk + vw;
      filter: contrast(0);
      cursor: pointer;
      object-fit: contain;
      @media only screen and (max-width: 800px) {
        width: 26.5vw;
        height: 26.5vw;
      }
    }
  }
  .footer-container {
    margin-top: 0;
  }
}
.activeThumb {
  filter: grayscale(0) !important;
}
