.aboutus04-container .backSection {
  display: none;
}

@media only screen and (max-width: 800px) {
  .aboutus04-container .backSection {
    display: block;
    position: absolute;
    top: 9vw;
    left: 5vw;
    font-family: RalewayLight;
    z-index: 1;
    font-size: 3.2vw;
  }
}

.aboutus04-container .backSection .backBtn {
  position: relative;
  top: 1.1vw;
  margin-right: 2vw;
  height: 4vw;
}

.aboutus04-container .p-adjust {
  font-family: Montserrat-Regular;
  font-size: 1.04167vw;
  color: #707070;
  text-align: justify;
  margin-bottom: 1vw;
}

@media only screen and (max-width: 800px) {
  .aboutus04-container .p-adjust {
    font-family: Montserrat-Regular;
    font-size: 3.46667vw;
    margin-top: 2.66667vw;
    margin-bottom: 2.66667vw;
  }
}

.aboutus04-container .panelContainer {
  position: absolute;
  width: 71.19792vw;
  top: 10.9375vw;
  height: 30.20833vw;
  left: 23.4375vw;
  overflow: hidden;
}

@media only screen and (max-width: 800px) {
  .aboutus04-container .panelContainer {
    width: 92vw;
    top: 34vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: auto;
  }
}

.aboutus04-container .arrow-header {
  display: none;
}

@media only screen and (max-width: 800px) {
  .aboutus04-container .arrow-header {
    display: block;
    position: absolute;
    font-family: Montserrat-Light;
    font-size: 2.93333vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 28vw;
  }
}
/*# sourceMappingURL=aboutus4.css.map */