$desk: 100 / 1920;
$mob: 100 / 375;

.aboutus04-container {
  .backSection {
    display: none;
    @media only screen and (max-width: 800px) {
      display: block;
      position: absolute;
      top: 9vw;
      left: 5vw;
      font-family: RalewayLight;
      z-index: 1;
      font-size: 3.2vw;
    }
    .backBtn {
      position: relative;
      top: 1.1vw;
      margin-right: 2vw;
      height: 4vw;
    }
  }

  .p-adjust {
    font-family: Montserrat-Regular;
    font-size: 1.04167vw;
    color: #707070;
    text-align: justify;
    margin-bottom: 1vw;
    @media only screen and (max-width: 800px) {
      font-family: Montserrat-Regular;
      font-size: 13 * $mob + vw;
      margin-top: 10 * $mob + vw;
      margin-bottom: 10 * $mob + vw;
    }
  }
  .panelContainer {
    position: absolute;
    width: 1367 * $desk + vw;
    top: 10.9375vw;
    height: 580 * $desk + vw;
    left: 450 * $desk + vw;
    overflow: hidden;
    @media only screen and (max-width: 800px) {
      width: 345 * $mob + vw;
      top: 34vw;
      // left: 19 * $mob + vw;
      left: 50%;
      transform: translateX(-50%);
      height: auto;
    }
  }
  .arrow-header {
    display: none;
    @media only screen and (max-width: 800px) {
      display: block;
      position: absolute;
      font-family: Montserrat-Light;
      font-size: 11 * $mob + vw;
      left: 50%;
      transform: translateX(-50%);
      // width: 60vw;
      bottom: 105 * $mob + vw;
    }
  }
}
