.para-container {
  font-family: Montserrat-Regular;
  font-size: 1.04167vw;
  color: #707070;
  text-align: justify;
}

@media only screen and (max-width: 800px) {
  .para-container {
    font-size: 3.46667vw;
  }
}
/*# sourceMappingURL=p.css.map */