$desk: 100 / 1920;
$mob: 100 / 375;

.para-container {
  font-family: Montserrat-Regular;
  font-size: 20 * $desk + vw;
  color: #707070;
  text-align: justify;
  @media only screen and (max-width: 800px) {
    font-size: 13 * $mob + vw;
  }
}
