$desk: 100 / 1920;
$mob: 100 / 375;

.ProjectPageContainer {
  //   width: 100vw;
  .menu-container {
    cursor: pointer;
    position: fixed;
    z-index: 15;
    right: 2vw;
    top: 32 * $desk + vw;
    display: flex;
    filter: invert(1);
    @media only screen and (max-width: 800px) {
      right: 5vw;
    }
    .menu {
      position: relative;
      width: 50 * $desk + vw;
      height: 15 * $desk + vw;
      margin-right: 16.6 * $desk + vw;
      // z-index: 9999;

      top: unset;
      @media only screen and (max-width: 800px) {
        width: 40 * $mob + vw;
        height: 12 * $mob + vw;
        top: 38.5 * $mob + vw;
      }
    }
    .menu-text {
      display: block;
      top: -8 * $desk + vw;
      position: relative;
      @media only screen and (max-width: 800px) {
        display: none;
      }
    }
  }
  .menu-section {
    position: fixed;
    top: 0;
    display: none;
    opacity: 0;
    transition: opacity 800ms ease-in-out;
    z-index: 9;
  }
  .backButton {
    position: fixed;
    display: flex;
    top: 5vw;
    right: 2vw;
    z-index: 1;
    color: white;
    @media only screen and (max-width: 800px) {
      top: 23vw;
      right: 4vw;
    }
    img {
      width: 30 * $desk + vw;
      height: 25 * $desk + vw;
      object-fit: contain;
      opacity: 0.7;
      @media only screen and (max-width: 800px) {
        width: 7.33333vw;
        height: 2.66667vw;
      }
    }
    p {
      font-family: Montserrat-Medium;
      font-size: 18 * $desk + vw;
      opacity: 0.7;
      margin-left: 1vw;
      @media only screen and (max-width: 800px) {
        font-size: 10 * $mob + vw;
        margin-left: 0.3vw;
      }
    }
  }
}
