.ProjectPageContainer .menu-container {
  cursor: pointer;
  position: fixed;
  z-index: 15;
  right: 2vw;
  top: 1.66667vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-filter: invert(1);
          filter: invert(1);
}

@media only screen and (max-width: 800px) {
  .ProjectPageContainer .menu-container {
    right: 5vw;
  }
}

.ProjectPageContainer .menu-container .menu {
  position: relative;
  width: 2.60417vw;
  height: 0.78125vw;
  margin-right: 0.86458vw;
  top: unset;
}

@media only screen and (max-width: 800px) {
  .ProjectPageContainer .menu-container .menu {
    width: 10.66667vw;
    height: 3.2vw;
    top: 10.26667vw;
  }
}

.ProjectPageContainer .menu-container .menu-text {
  display: block;
  top: -0.41667vw;
  position: relative;
}

@media only screen and (max-width: 800px) {
  .ProjectPageContainer .menu-container .menu-text {
    display: none;
  }
}

.ProjectPageContainer .menu-section {
  position: fixed;
  top: 0;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 800ms ease-in-out;
  transition: opacity 800ms ease-in-out;
  z-index: 9;
}

.ProjectPageContainer .backButton {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 5vw;
  right: 2vw;
  z-index: 1;
  color: white;
}

@media only screen and (max-width: 800px) {
  .ProjectPageContainer .backButton {
    top: 23vw;
    right: 4vw;
  }
}

.ProjectPageContainer .backButton img {
  width: 1.5625vw;
  height: 1.30208vw;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0.7;
}

@media only screen and (max-width: 800px) {
  .ProjectPageContainer .backButton img {
    width: 7.33333vw;
    height: 2.66667vw;
  }
}

.ProjectPageContainer .backButton p {
  font-family: Montserrat-Medium;
  font-size: 0.9375vw;
  opacity: 0.7;
  margin-left: 1vw;
}

@media only screen and (max-width: 800px) {
  .ProjectPageContainer .backButton p {
    font-size: 2.66667vw;
    margin-left: 0.3vw;
  }
}
/*# sourceMappingURL=projectpage.css.map */