.home-container {
  overflow: hidden;
  height: 100vh;
}

.home-container .panelContainer {
  position: absolute;
  width: 98.7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
}

@media only screen and (max-width: 800px) {
  .home-container .panelContainer {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.home-container .panelContainer .left {
  position: relative;
  width: 50vw;
  z-index: 2;
}

@media only screen and (max-width: 478px) {
  .home-container .panelContainer .left {
    width: 100vw;
    height: 60vh;
    z-index: 2;
  }
}

@media only screen and (min-width: 478px) and (max-width: 800px) {
  .home-container .panelContainer .left {
    width: 100vw;
    height: 110vw;
    z-index: 2;
  }
}

.home-container .panelContainer .left img {
  width: auto;
  height: 100%;
  top: 0;
  left: 0vw;
  position: absolute;
}

@media only screen and (max-width: 800px) {
  .home-container .panelContainer .left img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100.4375vw;
    width: 100vw;
    position: absolute;
    top: unset;
  }
}

.home-container .panelContainer .left .phrase {
  position: absolute;
  color: white;
  bottom: 1vw;
  left: 1vw;
  font-family: Montserrat-SemiBold;
  font-size: 1.04167vw;
}

@media only screen and (max-width: 800px) {
  .home-container .panelContainer .left .phrase {
    font-size: 2.4vw;
    bottom: 15.5vw;
    right: unset;
  }
}

.home-container .panelContainer .right {
  z-index: 2;
  width: 50vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 800px) {
  .home-container .panelContainer .right {
    width: unset;
    height: 35vh;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}

.home-container .panelContainer .right .selector {
  position: absolute;
  top: 15vw;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #f35925;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 800px) {
  .home-container .panelContainer .right .selector {
    position: relative;
    top: unset;
    width: 65%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 10vw;
  }
}

.home-container .panelContainer .right .selector .prevArrow {
  width: 1.86667vw;
  height: 1.86667vw;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .home-container .panelContainer .right .selector .prevArrow {
    width: 10vw;
    height: 10vw;
  }
}

.home-container .panelContainer .right .selector .nextArrow {
  width: 1.86667vw;
  height: 1.86667vw;
  cursor: pointer;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media only screen and (max-width: 800px) {
  .home-container .panelContainer .right .selector .nextArrow {
    width: 10vw;
    height: 10vw;
  }
}

.home-container .panelContainer .right .selector p {
  font-family: Montserrat-SemiBold;
}

.home-container .panelContainer .right .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 12vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3vw;
}

@media only screen and (max-width: 800px) {
  .home-container .panelContainer .right .projects {
    height: 30vw;
  }
}

.home-container .panelContainer .right .projects img {
  width: 10vw;
  cursor: pointer;
  height: 10vw;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

@media only screen and (max-width: 800px) {
  .home-container .panelContainer .right .projects img {
    width: 24.5vw;
    height: 24.5vw;
  }
}

.home-container .panelContainer .right .slick-slider {
  width: 95%;
  height: 12vw;
  margin-top: 3vw;
}

@media only screen and (max-width: 800px) {
  .home-container .panelContainer .right .slick-slider {
    height: 30vw;
    margin-top: 5vw;
    width: 80vw;
  }
}

.home-container .panelContainer .right .slick-slider img {
  width: 10vw;
  cursor: pointer;
  height: 10vw;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

@media only screen and (max-width: 800px) {
  .home-container .panelContainer .right .slick-slider img {
    width: 24.5vw;
    height: 24.5vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
  }
}

.home-container .panelContainer .right .sm-icon {
  position: absolute;
  top: 42.96875vw;
  left: unset;
  bottom: unset;
}

@media only screen and (max-width: 478px) {
  .home-container .panelContainer .right .sm-icon {
    top: unset;
    bottom: 2.66667vw;
  }
}

@media only screen and (min-width: 478px) and (max-width: 800px) {
  .home-container .panelContainer .right .sm-icon {
    top: unset;
    bottom: -21.33333vh;
    padding-bottom: 2.66667vh;
  }
}

.home-container .panelContainer .right .sm-icon img {
  margin-right: 5.72917vw;
  height: 1.51042vw;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .home-container .panelContainer .right .sm-icon img {
    height: 4vw;
    margin-right: 7.2vw;
    margin-left: 7.2vw;
  }
}

.home-container .panelContainer .right .sm-icon i {
  font-size: 1.71875vw;
  margin-right: 5.72917vw;
}

@media only screen and (max-width: 800px) {
  .home-container .panelContainer .right .sm-icon i {
    font-size: 4.8vw;
    margin-right: 7.2vw;
    margin-left: 7.2vw;
  }
}

.home-container .panelContainer .searchContainer {
  width: 25.57292vw;
  height: 14vw;
  overflow: auto;
  background: white;
  position: absolute;
  right: 0.25vw;
  top: 26.22917vw;
  border-radius: 0.52083vw;
  z-index: 20;
  -webkit-box-shadow: 9px 8px 11px -10px;
          box-shadow: 9px 8px 11px -10px;
}

@media only screen and (max-width: 800px) {
  .home-container .panelContainer .searchContainer {
    right: 4.75vw;
    top: 32.22917vw;
    width: 57.33333vw;
    height: 42vw;
  }
}

.home-container .panelContainer .searchContainer a {
  text-decoration: none;
}

.home-container .panelContainer .searchContainer .result-list {
  position: relative;
  list-style: none;
  height: auto;
  margin: 1.82292vw;
  margin-left: 0.78125vw;
  padding-bottom: 0.5vw;
  border-bottom: 1px solid black;
}

@media only screen and (max-width: 800px) {
  .home-container .panelContainer .searchContainer .result-list {
    margin-left: 2.66667vw;
    margin-top: 2.66667vw;
  }
}

.home-container .panelContainer .searchContainer .noResult {
  text-align: center;
  top: 50%;
  position: relative;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.home-container ::-webkit-input-placeholder {
  opacity: 0.35;
}

.home-container :-ms-input-placeholder {
  opacity: 0.35;
}

.home-container ::-ms-input-placeholder {
  opacity: 0.35;
}

.home-container ::placeholder {
  opacity: 0.35;
}

@media only screen and (max-width: 800px) {
  .home-container ::-webkit-input-placeholder {
    font-size: 2.13333vw;
  }
  .home-container :-ms-input-placeholder {
    font-size: 2.13333vw;
  }
  .home-container ::-ms-input-placeholder {
    font-size: 2.13333vw;
  }
  .home-container ::placeholder {
    font-size: 2.13333vw;
  }
}

.home-container .header-container .logo {
  display: none;
}

.home-container .homeLogo {
  position: absolute;
  left: 4vw;
}

.home-container .homeLogo img {
  position: relative;
  width: 12.21875vw;
  height: 12.21875vw;
  float: left;
  z-index: 8;
}

@media only screen and (max-width: 800px) {
  .home-container .homeLogo img {
    width: 25vw;
    height: 25vw;
  }
}

.searchContainer::-webkit-scrollbar {
  height: 0.26042vw;
  width: 8px;
  background: none;
  margin: auto;
}

.searchContainer::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: none;
}

.searchContainer::-webkit-scrollbar-thumb {
  background-color: gray;
  outline: 0.05208vw solid #d67a0f;
  height: 0.26042vw;
  width: 0.26042vw;
  border-radius: 0.26042vw;
}

@media only screen and (max-width: 800px) {
  .searchContainer::-webkit-scrollbar-thumb {
    border-radius: 2vw;
  }
}
/*# sourceMappingURL=home.css.map */