$desk: 100/1920;
$mob: 100/375;

.home-container {
  overflow: hidden;
  height: 100vh;
  .panelContainer {
    position: absolute;
    width: 98.7vw;
    display: flex;
    z-index: 3;
    @media only screen and (max-width: 800px) {
      width: 100vw;
      flex-direction: column;
    }
    .left {
      position: relative;
      width: 50vw;
      z-index: 2;
      @media only screen and (max-width: 478px) {
        width: 100vw;
        height: 60vh;
        z-index: 2;
      }
      @media only screen and (min-width: 478px) and (max-width: 800px) {
        width: 100vw;
        height: 110vw;
        z-index: 2;
      }
      img {
        width: auto;
        height: 100%;
        top: 0;
        left: 0vw;
        position: absolute;
        // width: 44vw;
        @media only screen and (max-width: 800px) {
          object-fit: cover;
          height: 100.4375vw;
          width: 100vw;
          // left: -85vw;
          position: absolute;
          top: unset;
          // width: unset;
        }
      }
      .phrase {
        position: absolute;
        color: white;
        // bottom: 20vw;
        bottom: 1vw;
        // right: 17.60417vw;
        // left: 20vw;
        left: 1vw;
        // left: -4vw;
        // transform: rotate(-90deg);
        // -webkit-transform: rotate(-90deg);
        // -moz-transform: rotate(-90deg);
        // -ms-transform: rotate(-90deg);
        // -o-transform: rotate(-90deg);
        font-family: Montserrat-SemiBold;
        // font-size: 15 * $desk + vw;
        font-size: 20 * $desk + vw;
        @media only screen and (max-width: 800px) {
          font-size: 9 * $mob + vw;
          // bottom: 15.2vw;
          bottom: 15.5vw;
          // bottom: 55vw;
          // left: -10vw;
          // top: 2vw;
          // color: mediumblue;
          right: unset;
          // left: 0.2vw;
        }
      }
    }
    .right {
      z-index: 2;
      width: 50vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      @media only screen and (max-width: 800px) {
        width: unset;
        height: 35vh;
        justify-content: unset;
      }
      .selector {
        position: absolute;
        top: 15vw;
        width: 25%;
        display: flex;
        justify-content: space-between;
        color: #f35925;
        align-items: center;
        @media only screen and (max-width: 800px) {
          position: relative;
          top: unset;
          width: 65%;
          align-items: center;
          height: 10vw;
        }
        .prevArrow {
          width: 7 * $mob + vw;
          height: 7 * $mob + vw;
          cursor: pointer;
          @media only screen and (max-width: 800px) {
            width: 10vw;
            height: 10vw;
          }
        }
        .nextArrow {
          width: 7 * $mob + vw;
          height: 7 * $mob + vw;
          cursor: pointer;
          transform: rotate(180deg);
          @media only screen and (max-width: 800px) {
            width: 10vw;
            height: 10vw;
          }
        }
        p {
          font-family: Montserrat-SemiBold;
        }
      }
      .projects {
        display: flex;
        height: 12vw;
        align-items: center;
        margin-top: 3vw;
        // justify-content: center;
        // overflow-x: scroll;
        // width: 800 * $desk + vw;
        @media only screen and (max-width: 800px) {
          height: 30vw;
        }
        img {
          width: 10vw;
          cursor: pointer;
          height: 10vw;
          object-fit: contain;
          margin-left: 0.5vw;
          margin-right: 0.5vw;
          @media only screen and (max-width: 800px) {
            width: 24.5vw;
            height: 24.5vw;
          }
        }
      }
      .slick-slider {
        width: 95%;
        height: 12vw;
        margin-top: 3vw;
        @media only screen and (max-width: 800px) {
          height: 30vw;
          margin-top: 5vw;
          width: 300 * $mob + vw;
        }
        img {
          width: 10vw;
          cursor: pointer;
          height: 10vw;
          object-fit: contain;
          margin-left: 0.5vw;
          margin-right: 0.5vw;
          @media only screen and (max-width: 800px) {
            width: 24.5vw;
            height: 24.5vw;
            margin-left: 0.5vw;
            margin-right: 0.5vw;
          }
        }
      }
      // .search {
      //   background: black;
      //   width: 87 * $desk + vw;
      //   height: 75 * $desk + vw;
      //   margin-top: 2.2 * $desk + vw;
      //   margin-right: unset;
      //   @media only screen and (max-width: 800px) {
      //     width: 37 * $mob + vw;
      //     height: 29 * $mob + vw;
      //     margin-top: 2.2 * $mob + vw;
      //     margin-right: 2.2 * $mob + vw;
      //   }
      // }
      // .search-container {
      //   display: flex;
      //   position: absolute;
      //   top: 409 * $desk + vw;
      //   right: 0;
      //   border: 1px solid black;
      //   width: 491 * $desk + vw;
      //   height: 80 * $desk + vw;
      //   @media only screen and (max-width: 800px) {
      //     top: 290 * $mob + vw;
      //     left: 38%;
      //     width: 230 * $mob + vw;
      //     height: 34 * $mob + vw;
      //   }
      // }
      // #search-text-input {
      //   border-bottom: 0;
      //   width: 410 * $desk + vw;
      //   height: auto;
      //   // margin: 0.8em 0 0 0.5em;
      //   outline: 0;
      //   // padding: 0.4em 0 0.4em 0.6em;
      //   padding: 0;
      //   padding-top: 0vw;
      //   padding-left: 15 * $desk + vw;
      //   width: 401 * $desk + vw;
      //   font-family: Montserrat-Medium;
      //   margin-bottom: unset;
      //   font-size: 21 * $desk + vw;
      //   @media only screen and (max-width: 800px) {
      //     font-size: 15 * $mob + vw;
      //     width: 190 * $mob + vw;
      //     height: 34 * $mob + vw;
      //     padding-top: 0vw;
      //   }
      // }

      // #button-holder {
      //   padding-left: 28 * $desk + vw;
      //   padding-top: 18 * $desk + vw;
      //   height: 38 * $desk + vw;
      //   cursor: pointer;
      //   @media only screen and (max-width: 800px) {
      //     padding-top: 1.5vw;
      //     padding-left: 2.3vw;
      //     width: 15 * $mob + vw;
      //     height: 16 * $mob + vw;
      //   }
      // }

      // #button-holder img {
      //   margin: 4px;
      //   width: 20px;
      // }

      .sm-icon {
        position: absolute;
        top: 825 * $desk + vw;
        left: unset;
        bottom: unset;
        // @media only screen and (max-width: 478px) {
        //   top: unset;
        //   // left: 5vw;
        //   bottom: 10 * $mob + vw;
        // }

        @media only screen and (max-width: 478px) {
          top: unset;
          // left: 5vw;
          bottom: 10 * $mob + vw;
        }
        @media only screen and (min-width: 478px) and (max-width: 800px) {
          top: unset;
          // left: 5vw;
          bottom: -80 * $mob + vh;
          padding-bottom: 10 * $mob + vh;
        }
        img {
          margin-right: 110 * $desk + vw;
          height: 29 * $desk + vw;
          cursor: pointer;
          @media only screen and (max-width: 800px) {
            height: 15 * $mob + vw;
            margin-right: 27 * $mob + vw;
            margin-left: 27 * $mob + vw;
          }
        }
        i {
          font-size: 33 * $desk + vw;
          margin-right: 110 * $desk + vw;
          @media only screen and (max-width: 800px) {
            font-size: 18 * $mob + vw;
            margin-right: 27 * $mob + vw;
            margin-left: 27 * $mob + vw;
          }
        }
      }
    }
    .searchContainer {
      //   right: 37.25vw;
      // top: 59.22917vw;
      width: 25.57292vw;
      height: 14vw;
      overflow: auto;
      // min-height: 0vw;
      background: white;
      position: absolute;
      right: 0.25vw;
      top: 26.22917vw;
      border-radius: 10 * $desk + vw;
      z-index: 20;
      box-shadow: 9px 8px 11px -10px;
      @media only screen and (max-width: 800px) {
        right: 4.75vw;
        top: 32.22917vw;
        width: 215 * $mob + vw;
        height: 42vw;
      }
      a {
        text-decoration: none;
      }
      .result-list {
        position: relative;
        list-style: none;
        height: auto;
        // top: 50%;
        // transform: translateY(-50%);
        margin: 35 * $desk + vw;
        margin-left: 15 * $desk + vw;
        padding-bottom: 0.5vw;
        border-bottom: 1px solid black;
        @media only screen and (max-width: 800px) {
          margin-left: 10 * $mob + vw;
          margin-top: 10 * $mob + vw;
        }
      }
      .noResult {
        // display: none;
        text-align: center;
        top: 50%;
        position: relative;
        transform: translateY(-50%);
      }
    }
  }
  ::placeholder {
    opacity: 0.35;
    @media only screen and (max-width: 800px) {
      font-size: 8 * $mob + vw;
    }
  }
  .header-container {
    .logo {
      display: none;
    }
  }
  .homeLogo {
    position: absolute;
    left: 4vw;
    img {
      position: relative;
      width: 12.21875vw;
      height: 12.21875vw;
      float: left;
      z-index: 8;
      @media only screen and (max-width: 800px) {
        width: 25vw;
        height: 25vw;
      }
    }
  }
}

.searchContainer::-webkit-scrollbar {
  height: 0.26042vw;
  width: 8px;
  background: none;
  margin: auto;
}

.searchContainer::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: none;
}

.searchContainer::-webkit-scrollbar-thumb {
  background-color: gray;
  outline: 0.05208vw solid #d67a0f;
  height: 0.26042vw;
  width: 0.26042vw;
  border-radius: 0.26042vw;
  @media only screen and (max-width: 800px) {
    border-radius: 2vw;
  }
}
