$desk: 100 / 1920;
$mob: 100 / 375;

.contact-container {
  overflow: hidden;
  //   height: auto;
  position: relative;
  a {
    text-decoration: none;
  }
  //   top: 0;
  // .contact-text {
  //   position: absolute;
  //   transform: rotate(270deg);
  //   font-size: 160 * $desk + vw;
  //   font-family: MontserratSubrayada-Regular;
  //   right: -368 * $desk + vw;
  //   top: 450 * $desk + vw;
  //   @media only screen and (max-width: 800px) {
  //     top: 330 * $mob + vw;
  //     right: -270 * $mob + vw;
  //     font-size: 118 * $mob + vw;
  //   }
  // }
  .panel-container {
    position: relative;
    width: 80vw;
    top: 210 * $desk + vw;
    // left: 139 * $desk + vw;
    // z-index: 5;
    overflow: hidden;
    height: 50vw;
    left: unset;
    margin-bottom: 2vw;
    padding-bottom: 2vw;
    @media only screen and (max-width: 800px) {
      top: 0 * $mob + vw;
      width: auto;
      left: 19 * $mob + vw;
      height: auto;
      padding-bottom: unset;
    }
    .info-container {
      position: relative;
      display: flex;
      top: 20 * $desk + vw;
      //   float: left;
      @media only screen and (max-width: 800px) {
        display: block;
      } //   top: 14vw;
      .sec-1 {
        //   float: left;
        width: 370 * $desk + vw;
        @media only screen and (max-width: 800px) {
          width: 80%;
          margin-bottom: 23 * $mob + vw;
        }
      }
      .sec-2 {
        width: unset;
        //   float: left;
        margin-left: 202 * $desk + vw;
        @media only screen and (max-width: 800px) {
          margin-bottom: 23 * $mob + vw;
          margin-left: 0 * $desk + vw;
          width: 100%;
        }
      }
      .sec-3 {
        width: unset;
        //   float: left;
        margin-left: 351 * $desk + vw;
        @media only screen and (max-width: 800px) {
          margin-bottom: 23 * $mob + vw;
          width: 100%;
          margin-left: 0;
        }
      }
    }
    .h1adjust {
      @media only screen and (max-width: 800px) {
        font-size: 27 * $mob + vw;
      }
    }
    .p-adjust {
      line-height: 35 * $desk + vw;
      padding-top: 12 * $desk + vw;
      color: black;
      @media only screen and (max-width: 800px) {
        line-height: 23 * $mob + vw;
      }
    }
    .input-container {
      width: 950 * $desk + vw;
      margin-top: 90 * $desk + vw;
      @media only screen and (max-width: 800px) {
        width: auto;
      }
      .input-box {
        margin-top: 28 * $desk + vw;
        @media only screen and (max-width: 800px) {
          margin-top: 20 * $mob + vw;
        }
        textarea {
          resize: none;
          width: 924 * $desk + vw;
          padding-bottom: 110 * $desk + vw;
          font-size: 21 * $desk + vw;
          font-family: Montserrat-Medium;
          border: none;
          border-bottom: 1px solid #707070;
          outline: none;
          @media only screen and (max-width: 800px) {
            width: 251 * $mob + vw;
            font-size: 13 * $mob + vw;
          }
        }
        .input-adjust {
          margin-left: 217.5 * $desk + vw;
          @media only screen and (max-width: 800px) {
            margin-left: 0;
          }
        }
      }
      .button {
        width: 155 * $desk + vw;
        height: 52 * $desk + vw;
        margin-top: 41.5 * $desk + vw;
        margin-right: 1vw;
        background-color: black;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 16 * $desk + vw;
        margin-bottom: unset;
        cursor: pointer;
        float: right;
        font-family: Montserrat-Medium;
        @media only screen and (max-width: 800px) {
          font-size: 12 * $mob + vw;
          width: 92 * $mob + vw;
          height: 31 * $mob + vw;
          float: none;
          margin-top: 16.5 * $mob + vw;
          margin-bottom: 7vw;
        }
      }
    }
    .social-media {
      position: absolute;
      left: 1095 * $desk + vw;
      top: 12vw;
      font-family: Montserrat-Medium;
      font-size: 21 * $desk + vw;
      @media only screen and (max-width: 800px) {
        display: none;
      }
      .h1-adjust {
        margin-bottom: 51 * $desk + vw;
      }
      .social {
        display: flex;
        text-decoration: none;
        height: 1vw;
        margin-right: 2vw;
      }
      img {
        height: 30 * $desk + vw;
        margin-right: 25.7 * $desk + vw;
        margin-bottom: 46.7 * $desk + vw;
      }
      i {
        font-size: 30 * $desk + vw;
        margin-right: 25.7 * $desk + vw;
        margin-bottom: 46.7 * $desk + vw;
      }
      .social-media:first-child {
        margin-top: 4vw;
      }
      .iconsContainer {
        display: flex;
      }
    }
  }

  .footer {
    bottom: -15.375vw;
  }
  .footer-container {
    width: 98.71vw;
  }
}
