.contact-container {
  overflow: hidden;
  position: relative;
}

.contact-container a {
  text-decoration: none;
}

.contact-container .panel-container {
  position: relative;
  width: 80vw;
  top: 10.9375vw;
  overflow: hidden;
  height: 50vw;
  left: unset;
  margin-bottom: 2vw;
  padding-bottom: 2vw;
}

@media only screen and (max-width: 800px) {
  .contact-container .panel-container {
    top: 0vw;
    width: auto;
    left: 5.06667vw;
    height: auto;
    padding-bottom: unset;
  }
}

.contact-container .panel-container .info-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 1.04167vw;
}

@media only screen and (max-width: 800px) {
  .contact-container .panel-container .info-container {
    display: block;
  }
}

.contact-container .panel-container .info-container .sec-1 {
  width: 19.27083vw;
}

@media only screen and (max-width: 800px) {
  .contact-container .panel-container .info-container .sec-1 {
    width: 80%;
    margin-bottom: 6.13333vw;
  }
}

.contact-container .panel-container .info-container .sec-2 {
  width: unset;
  margin-left: 10.52083vw;
}

@media only screen and (max-width: 800px) {
  .contact-container .panel-container .info-container .sec-2 {
    margin-bottom: 6.13333vw;
    margin-left: 0vw;
    width: 100%;
  }
}

.contact-container .panel-container .info-container .sec-3 {
  width: unset;
  margin-left: 18.28125vw;
}

@media only screen and (max-width: 800px) {
  .contact-container .panel-container .info-container .sec-3 {
    margin-bottom: 6.13333vw;
    width: 100%;
    margin-left: 0;
  }
}

@media only screen and (max-width: 800px) {
  .contact-container .panel-container .h1adjust {
    font-size: 7.2vw;
  }
}

.contact-container .panel-container .p-adjust {
  line-height: 1.82292vw;
  padding-top: 0.625vw;
  color: black;
}

@media only screen and (max-width: 800px) {
  .contact-container .panel-container .p-adjust {
    line-height: 6.13333vw;
  }
}

.contact-container .panel-container .input-container {
  width: 49.47917vw;
  margin-top: 4.6875vw;
}

@media only screen and (max-width: 800px) {
  .contact-container .panel-container .input-container {
    width: auto;
  }
}

.contact-container .panel-container .input-container .input-box {
  margin-top: 1.45833vw;
}

@media only screen and (max-width: 800px) {
  .contact-container .panel-container .input-container .input-box {
    margin-top: 5.33333vw;
  }
}

.contact-container .panel-container .input-container .input-box textarea {
  resize: none;
  width: 48.125vw;
  padding-bottom: 5.72917vw;
  font-size: 1.09375vw;
  font-family: Montserrat-Medium;
  border: none;
  border-bottom: 1px solid #707070;
  outline: none;
}

@media only screen and (max-width: 800px) {
  .contact-container .panel-container .input-container .input-box textarea {
    width: 66.93333vw;
    font-size: 3.46667vw;
  }
}

.contact-container .panel-container .input-container .input-box .input-adjust {
  margin-left: 11.32812vw;
}

@media only screen and (max-width: 800px) {
  .contact-container .panel-container .input-container .input-box .input-adjust {
    margin-left: 0;
  }
}

.contact-container .panel-container .input-container .button {
  width: 8.07292vw;
  height: 2.70833vw;
  margin-top: 2.16146vw;
  margin-right: 1vw;
  background-color: black;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 0.83333vw;
  margin-bottom: unset;
  cursor: pointer;
  float: right;
  font-family: Montserrat-Medium;
}

@media only screen and (max-width: 800px) {
  .contact-container .panel-container .input-container .button {
    font-size: 3.2vw;
    width: 24.53333vw;
    height: 8.26667vw;
    float: none;
    margin-top: 4.4vw;
    margin-bottom: 7vw;
  }
}

.contact-container .panel-container .social-media {
  position: absolute;
  left: 57.03125vw;
  top: 12vw;
  font-family: Montserrat-Medium;
  font-size: 1.09375vw;
}

@media only screen and (max-width: 800px) {
  .contact-container .panel-container .social-media {
    display: none;
  }
}

.contact-container .panel-container .social-media .h1-adjust {
  margin-bottom: 2.65625vw;
}

.contact-container .panel-container .social-media .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  height: 1vw;
  margin-right: 2vw;
}

.contact-container .panel-container .social-media img {
  height: 1.5625vw;
  margin-right: 1.33854vw;
  margin-bottom: 2.43229vw;
}

.contact-container .panel-container .social-media i {
  font-size: 1.5625vw;
  margin-right: 1.33854vw;
  margin-bottom: 2.43229vw;
}

.contact-container .panel-container .social-media .social-media:first-child {
  margin-top: 4vw;
}

.contact-container .panel-container .social-media .iconsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-container .footer {
  bottom: -15.375vw;
}

.contact-container .footer-container {
  width: 98.71vw;
}
/*# sourceMappingURL=contact.css.map */