@font-face {
  font-family: Montserrat-Light;
  src: url("./fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: RalewayLight;
  src: url("./fonts/Raleway-Light.ttf");
}

@font-face {
  font-family: Montserrat-Regular;
  src: url("./fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: RalewayMedium;
  src: url("./fonts/Raleway-Light.ttf");
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url("./fonts/Montserrat-SemiBold.otf");
}

@font-face {
  font-family: Montserrat-Bold;
  src: url("./fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: Montserrat-Medium;
  src: url("./fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: Raleway-Regular;
  src: url("./fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: MontserratSubrayada-Regular;
  src: url("./fonts/MontserratSubrayada-Regular.ttf");
}

@font-face {
  font-family: GreatVibes-Regular;
  src: url("./fonts/GreatVibes-Regular.otf");
}

body,
html {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 800px) {
  body,
  html {
    overflow-x: hidden;
  }
}

.ani-show {
  -webkit-animation: animate-in 1000ms;
          animation: animate-in 1000ms;
}

@-webkit-keyframes animate-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animate-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a {
  color: black;
}
/*# sourceMappingURL=common.css.map */