$desk: 100 / 1920;
$mob: 100 / 375;

.page1Container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  background: black;
  font-family: Montserrat-Regular;
  font-size: 25 * $desk + vw;
  color: white;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 800px) {
    height: 45vh;
    // padding-bottom: 8vw;
    align-items: flex-end;
  }
  .infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    .logoImage {
      // @media only screen and (max-width: 768px) {
      //   width: 400 * $desk + vw;
      //   height: 400 * $desk + vw;
      // }
      width: 300 * $desk + vw;
      height: 300 * $desk + vw;
      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        // @media only screen and (max-width: 800px) {
        //   width: 30vw;
        // }
      }
    }
    p {
      margin-top: 55 * $desk + vw;
    }
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .fadeIn {
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }

  .logo {
    position: absolute;
    top: 1vw;
    left: 4vw;
    width: 177 * $desk + vw;
    height: 177 * $desk + vw;
    z-index: 8;
    @media only screen and (max-width: 800px) {
      width: 120 * $mob + vw;
      height: 120 * $mob + vw;
    }
  }
}
