.page1Container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: black;
  font-family: Montserrat-Regular;
  font-size: 1.30208vw;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 800px) {
  .page1Container {
    height: 45vh;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.page1Container .infoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page1Container .infoContainer .logoImage {
  width: 15.625vw;
  height: 15.625vw;
}

.page1Container .infoContainer .logoImage img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.page1Container .infoContainer p {
  margin-top: 2.86458vw;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.page1Container .fadeIn {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.page1Container .logo {
  position: absolute;
  top: 1vw;
  left: 4vw;
  width: 9.21875vw;
  height: 9.21875vw;
  z-index: 8;
}

@media only screen and (max-width: 800px) {
  .page1Container .logo {
    width: 32vw;
    height: 32vw;
  }
}
/*# sourceMappingURL=page1.css.map */