$desk: 100/1920;
$mob: 100/375;

/* STRUCTURE */

.footer-container {
  position: relative;
  display: block;
  padding-top: 0 * $desk + vw;
  //   margin-left: 6 * $desk + vw;
  margin-top: 5 * $desk + vw;
  width: 98.71vw;
  background: black;
  height: 48 * $desk + vw;
  margin-top: 2vw;
  font-family: Montserrat-Light;
  font-size: 15 * $desk + vw;
  @media only screen and (max-width: 800px) {
    // margin-left: 5 * $mob + vw;
    margin-top: 4 * $mob + vw;
    height: 61 * $mob + vw;
    width: 100vw;
  }
  .footer-email {
    position: absolute;
    color: white;
    left: 199 * $desk + vw;
    top: 30%;
    @media only screen and (max-width: 800px) {
      font-size: 11 * $mob + vw;
      top: 65%;
      left: 19 * $mob + vw;
    }
  }
  .footer-group {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30%;
    color: white;
    @media only screen and (max-width: 800px) {
      font-size: 11 * $mob + vw;
      transform: unset;
      left: 65%;
      top: 65%;
    }
  }
  .footer-sm {
    position: absolute;
    display: flex;
    align-items: center;
    left: 70%;
    top: 30%;
    @media only screen and (max-width: 800px) {
      left: 12%;
      top: 22%;
    }
    img {
      height: 26 * $desk + vw;
      margin-right: 40 * $desk + vw;
      margin-left: 40 * $desk + vw;
      @media only screen and (max-width: 800px) {
        height: 21 * $mob + vw;
        margin-right: 20 * $mob + vw;
        margin-left: 20 * $mob + vw;
      }
    }
    i {
      font-size: 27 * $desk + vw;
      margin-right: 40 * $desk + vw;
      margin-left: 40 * $desk + vw;
      @media only screen and (max-width: 800px) {
        font-size: 20 * $mob + vw;
        margin-right: 20 * $mob + vw;
        margin-left: 20 * $mob + vw;
      }
    }
  }
  a {
    color: white;
    text-decoration: none;
  }
}
