/* STRUCTURE */
.footer-container {
  position: relative;
  display: block;
  padding-top: 0vw;
  margin-top: 0.26042vw;
  width: 98.71vw;
  background: black;
  height: 2.5vw;
  margin-top: 2vw;
  font-family: Montserrat-Light;
  font-size: 0.78125vw;
}

@media only screen and (max-width: 800px) {
  .footer-container {
    margin-top: 1.06667vw;
    height: 16.26667vw;
    width: 100vw;
  }
}

.footer-container .footer-email {
  position: absolute;
  color: white;
  left: 10.36458vw;
  top: 30%;
}

@media only screen and (max-width: 800px) {
  .footer-container .footer-email {
    font-size: 2.93333vw;
    top: 65%;
    left: 5.06667vw;
  }
}

.footer-container .footer-group {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 30%;
  color: white;
}

@media only screen and (max-width: 800px) {
  .footer-container .footer-group {
    font-size: 2.93333vw;
    -webkit-transform: unset;
            transform: unset;
    left: 65%;
    top: 65%;
  }
}

.footer-container .footer-sm {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 70%;
  top: 30%;
}

@media only screen and (max-width: 800px) {
  .footer-container .footer-sm {
    left: 12%;
    top: 22%;
  }
}

.footer-container .footer-sm img {
  height: 1.35417vw;
  margin-right: 2.08333vw;
  margin-left: 2.08333vw;
}

@media only screen and (max-width: 800px) {
  .footer-container .footer-sm img {
    height: 5.6vw;
    margin-right: 5.33333vw;
    margin-left: 5.33333vw;
  }
}

.footer-container .footer-sm i {
  font-size: 1.40625vw;
  margin-right: 2.08333vw;
  margin-left: 2.08333vw;
}

@media only screen and (max-width: 800px) {
  .footer-container .footer-sm i {
    font-size: 5.33333vw;
    margin-right: 5.33333vw;
    margin-left: 5.33333vw;
  }
}

.footer-container a {
  color: white;
  text-decoration: none;
}
/*# sourceMappingURL=footer.css.map */