.projectdetail-container .backSection {
  display: none;
}

@media only screen and (max-width: 800px) {
  .projectdetail-container .backSection {
    display: block;
    position: absolute;
    top: 9vw;
    left: 5vw;
    font-family: RalewayLight;
    z-index: 21;
    font-size: 3.2vw;
  }
}

.projectdetail-container .backSection .backBtn {
  position: relative;
  top: 1.1vw;
  margin-right: 2vw;
  height: 4vw;
}

.projectdetail-container .panelContainer {
  position: absolute;
  top: 16.77083vw;
}

@media only screen and (max-width: 800px) {
  .projectdetail-container .panelContainer {
    top: 42.93333vw;
    width: 100vw;
  }
}

.projectdetail-container .panelContainer .btn-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 8.07292vw;
  height: 10.9375vw;
  background: white;
  position: fixed;
  top: 18vw;
  left: -4.89583vw;
  border-radius: 1.30208vw;
  -webkit-box-shadow: 2px 5px 4px 2px rgba(0, 0, 0, 0.55);
          box-shadow: 2px 5px 4px 2px rgba(0, 0, 0, 0.55);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.30208vw;
      grid-template-columns: 1.30208vw;
  padding-left: 5.9vw;
  padding-top: 1vw;
  z-index: 8;
}

.projectdetail-container .panelContainer .btn-container img {
  height: 1.45833vw;
  width: 1.25vw;
  cursor: pointer;
}

.projectdetail-container .panelContainer .btn-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 0;
}

@media only screen and (max-width: 800px) {
  .projectdetail-container .panelContainer .btn-container {
    display: none;
  }
}

.projectdetail-container .panelContainer .project-header {
  font-family: Montserrat-Light;
  font-size: 3.125vw;
  text-align: center;
  letter-spacing: 0.20833vw;
}

@media only screen and (max-width: 800px) {
  .projectdetail-container .panelContainer .project-header {
    font-size: 7.73333vw;
    letter-spacing: 0.8vw;
  }
}

.projectdetail-container .panelContainer .project-logo {
  height: 18.80208vw;
  margin-top: 4.27083vw;
  margin-bottom: 3.4375vw;
}

@media only screen and (max-width: 800px) {
  .projectdetail-container .panelContainer .project-logo {
    height: 24.53333vw;
  }
}

.projectdetail-container .panelContainer .section-1 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projectdetail-container .panelContainer .section-1 .p-adjust {
  width: 73.17708vw;
  font-family: Montserrat-Light;
  color: black;
}

.projectdetail-container .panelContainer .section-1 .p-adjust2 {
  font-size: 1.82292vw;
  min-height: 35vh;
}

@media only screen and (max-width: 800px) {
  .projectdetail-container .panelContainer .section-1 .p-adjust2 {
    font-size: 5.33333vw;
    min-height: 35vh;
    text-align: center;
    margin-top: 10vw;
  }
}

.projectdetail-container .panelContainer .section-1 .button-container {
  margin-top: 1.51042vw;
}

.projectdetail-container .panelContainer .section-1 .project-btn {
  width: 10.57292vw;
  height: 2.39583vw;
  background: black;
  color: white;
  font-family: Montserrat-Regular;
  border: none;
  font-size: 0.98958vw;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .projectdetail-container .panelContainer .section-1 .project-btn {
    width: 33.33333vw;
    height: 7.46667vw;
    font-size: 2.93333vw;
    border: none;
  }
}

.projectdetail-container .panelContainer .section-1 .project-btn:first-child {
  margin-right: 1.35417vw;
}

@media only screen and (max-width: 800px) {
  .projectdetail-container .panelContainer .section-1 .project-btn:first-child {
    margin-right: 4.53333vw;
  }
}

.projectdetail-container .panelContainer .section-2 {
  text-align: center;
  margin-top: 4.11458vw;
}

.projectdetail-container .panelContainer .section-2 img {
  width: 72.39583vw;
  height: 40.78125vw;
}

@media only screen and (max-width: 800px) {
  .projectdetail-container .panelContainer .section-2 img {
    width: 82.66667vw;
    height: 55.2vw;
  }
}

.projectdetail-container .panelContainer .section-3 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3.28125vw;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
      -ms-flex-direction: unset;
          flex-direction: unset;
}

@media only screen and (max-width: 800px) {
  .projectdetail-container .panelContainer .section-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.projectdetail-container .panelContainer .section-3 .left {
  width: 33.125vw;
  height: 40.78125vw;
}

@media only screen and (max-width: 800px) {
  .projectdetail-container .panelContainer .section-3 .left {
    margin-left: 8.8vw;
    height: unset;
  }
}

.projectdetail-container .panelContainer .section-3 .left img {
  width: 33.125vw;
  height: 40.78125vw;
  -o-object-fit: contain;
     object-fit: contain;
}

@media only screen and (max-width: 800px) {
  .projectdetail-container .panelContainer .section-3 .left img {
    width: 82.66667vw;
    height: 101.86667vw;
  }
}

.projectdetail-container .panelContainer .section-3 .right {
  padding-top: 2vw;
  width: 31.6vw;
  padding-left: 7.8125vw;
  margin-bottom: unset;
}

@media only screen and (max-width: 800px) {
  .projectdetail-container .panelContainer .section-3 .right {
    padding-left: 20vw;
    width: auto;
    margin-bottom: 2vw;
  }
}

.projectdetail-container .panelContainer .section-3 .right .hightlight-text {
  position: absolute;
  font-family: Montserrat-Light;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  font-size: 2.96875vw;
  top: 10.10417vw;
  right: 23.4375vw;
}

@media only screen and (max-width: 800px) {
  .projectdetail-container .panelContainer .section-3 .right .hightlight-text {
    font-size: 6.93333vw;
    right: 32vw;
    top: 19.73333vw;
  }
}

.projectdetail-container .panelContainer .section-3 .right .highlight-container:nth-child(even) {
  margin-right: 11vw;
}

@media only screen and (max-width: 800px) {
  .projectdetail-container .panelContainer .section-3 .right .highlight-container:nth-child(even) {
    margin-right: 36.53333vw;
  }
}

.projectdetail-container .panelContainer .section-4 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4.11458vw;
  width: 72.39583vw;
  height: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-bottom: 3.80208vw;
  margin-left: unset;
}

@media only screen and (max-width: 800px) {
  .projectdetail-container .panelContainer .section-4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: unset;
            transform: unset;
    width: 83%;
    margin-left: 8.8vw;
    margin-bottom: 26.66667vw;
    left: unset;
  }
}

.projectdetail-container .panelContainer .section-4 .left {
  width: 50%;
  margin-bottom: unset;
}

@media only screen and (max-width: 800px) {
  .projectdetail-container .panelContainer .section-4 .left {
    width: 100%;
    margin-bottom: 12.53333vw;
  }
}

.projectdetail-container .panelContainer .section-4 .left .p-adjust {
  width: 31.45833vw;
  font-family: Montserrat-Light;
  color: black;
  font-size: 1.14583vw;
  margin-top: 2.65625vw;
}

@media only screen and (max-width: 800px) {
  .projectdetail-container .panelContainer .section-4 .left .p-adjust {
    font-size: 4vw;
    width: 81.6vw;
  }
}

.projectdetail-container .panelContainer .section-4 .left .p-adjust2 {
  width: 31.45833vw;
  font-family: Montserrat-Light;
  color: black;
  font-size: 1.14583vw;
  margin-top: 2.8125vw;
}

@media only screen and (max-width: 800px) {
  .projectdetail-container .panelContainer .section-4 .left .p-adjust2 {
    font-size: 4vw;
    width: 81.6vw;
  }
}

.projectdetail-container .panelContainer .section-4 .right {
  width: 50%;
}

@media only screen and (max-width: 800px) {
  .projectdetail-container .panelContainer .section-4 .right {
    width: 100%;
  }
}
/*# sourceMappingURL=projectdetail.css.map */