$desk: 100/1920;
$mob: 100/375;

.projectdetail-container {
  .backSection {
    display: none;
    @media only screen and (max-width: 800px) {
      display: block;
      position: absolute;
      top: 9vw;
      left: 5vw;
      font-family: RalewayLight;
      z-index: 21;
      font-size: 3.2vw;
    }
    .backBtn {
      position: relative;
      top: 1.1vw;
      margin-right: 2vw;
      height: 4vw;
    }
  }

  .panelContainer {
    position: absolute;
    top: 322 * $desk + vw;
    @media only screen and (max-width: 800px) {
      top: 161 * $mob + vw;
      width: 100vw;
    }
    .btn-container {
      box-sizing: border-box;
      width: 155 * $desk + vw;
      height: 210 * $desk + vw;
      background: white;
      position: fixed;
      top: 18vw;
      left: -94 * $desk + vw;
      border-radius: 25 * $desk + vw;
      box-shadow: 2px 5px 4px 2px rgba(0, 0, 0, 0.55);
      display: grid;
      grid-template-columns: 25 * $desk + vw;
      padding-left: 5.9vw;
      padding-top: 1vw;
      z-index: 8;
      img {
        height: 28 * $desk + vw;
        width: 24 * $desk + vw;
        cursor: pointer;
      }
      a {
        display: flex;
        line-height: 0;
      }
      @media only screen and (max-width: 800px) {
        display: none;
      }
    }
    .project-header {
      font-family: Montserrat-Light;
      font-size: 60 * $desk + vw;
      text-align: center;
      letter-spacing: 4 * $desk + vw;

      @media only screen and (max-width: 800px) {
        font-size: 29 * $mob + vw;
        letter-spacing: 3 * $mob + vw;
      }
    }
    .project-logo {
      // width: 439 * $desk + vw;
      height: 361 * $desk + vw;
      margin-top: 82 * $desk + vw;
      margin-bottom: 66 * $desk + vw;
      @media only screen and (max-width: 800px) {
        height: 92 * $mob + vw;
      }
    }
    .section-1 {
      display: grid;
      justify-content: center;

      .p-adjust {
        width: 1405 * $desk + vw;
        font-family: Montserrat-Light;
        color: black;
      }

      .p-adjust2 {
        font-size: 35 * $desk + vw;
        min-height: 35vh;

        @media only screen and (max-width: 800px) {
          font-size: 20 * $mob + vw;
          min-height: 35vh;
          text-align: center;
          margin-top: 10vw;
        }
      }
      .button-container {
        margin-top: 29 * $desk + vw;
      }
      .project-btn {
        width: 203 * $desk + vw;
        height: 46 * $desk + vw;
        background: black;
        color: white;
        font-family: Montserrat-Regular;
        border: none;
        font-size: 19 * $desk + vw;
        cursor: pointer;
        @media only screen and (max-width: 800px) {
          width: 125 * $mob + vw;
          height: 28 * $mob + vw;
          font-size: 11 * $mob + vw;
          border: none;
        }
        &:first-child {
          margin-right: 26 * $desk + vw;
          @media only screen and (max-width: 800px) {
            margin-right: 17 * $mob + vw;
          }
        }
      }
    }
    .section-2 {
      text-align: center;
      margin-top: 79 * $desk + vw;
      img {
        width: 1390 * $desk + vw;
        height: 783 * $desk + vw;
        @media only screen and (max-width: 800px) {
          width: 310 * $mob + vw;
          height: 207 * $mob + vw;
        }
      }
    }
    .section-3 {
      position: relative;
      display: flex;
      justify-content: center;
      margin-top: 63 * $desk + vw;
      flex-direction: unset;
      @media only screen and (max-width: 800px) {
        flex-direction: column-reverse;
      }
      .left {
        width: 636 * $desk + vw;
        height: 783 * $desk + vw;
        @media only screen and (max-width: 800px) {
          margin-left: 33 * $mob + vw;
          height: unset;
        }
        img {
          width: 636 * $desk + vw;
          height: 783 * $desk + vw;
          object-fit: contain;
          @media only screen and (max-width: 800px) {
            width: 310 * $mob + vw;
            height: 382 * $mob + vw;
          }
        }
      }

      .right {
        padding-top: 2vw;
        width: 31.6vw;
        padding-left: 150 * $desk + vw;
        margin-bottom: unset;

        @media only screen and (max-width: 800px) {
          padding-left: 75 * $mob + vw;
          width: auto;
          margin-bottom: 2vw;
        }
        .hightlight-text {
          position: absolute;
          font-family: Montserrat-Light;
          transform: rotate(270deg);
          font-size: 57 * $desk + vw;
          top: 194 * $desk + vw;
          right: 450 * $desk + vw;
          @media only screen and (max-width: 800px) {
            font-size: 26 * $mob + vw;
            right: 120 * $mob + vw;
            top: 74 * $mob + vw;
          }
        }
        .highlight-container:nth-child(even) {
          margin-right: 11vw;
          @media only screen and (max-width: 800px) {
            margin-right: 137 * $mob + vw;
          }
        }
      }
    }
    .section-4 {
      position: relative;
      display: flex;
      margin-top: 79 * $desk + vw;
      width: 1390 * $desk + vw;
      height: auto;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 73 * $desk + vw;
      margin-left: unset;
      @media only screen and (max-width: 800px) {
        flex-direction: column;
        transform: unset;
        width: 83%;
        margin-left: 33 * $mob + vw;
        margin-bottom: 100 * $mob + vw;
        left: unset;
      }
      .left {
        width: 50%;
        margin-bottom: unset;

        @media only screen and (max-width: 800px) {
          width: 100%;
          margin-bottom: 47 * $mob + vw;
        }
        .p-adjust {
          width: 604 * $desk + vw;
          font-family: Montserrat-Light;
          color: black;
          font-size: 22 * $desk + vw;
          margin-top: 51 * $desk + vw;
          @media only screen and (max-width: 800px) {
            font-size: 15 * $mob + vw;
            width: 306 * $mob + vw;
          }
        }
        .p-adjust2 {
          width: 604 * $desk + vw;
          font-family: Montserrat-Light;
          color: black;
          font-size: 22 * $desk + vw;
          margin-top: 54 * $desk + vw;
          @media only screen and (max-width: 800px) {
            font-size: 15 * $mob + vw;
            width: 306 * $mob + vw;
          }
        }
      }
      .right {
        width: 50%;
        @media only screen and (max-width: 800px) {
          width: 100%;
        }
      }
    }
  }
}
