.highlight-container {
  display: -ms-grid;
  display: grid;
  font-family: Montserrat-Medium;
  font-size: 1.09375vw;
  text-align: center;
  width: 9.11458vw;
  height: 10vw;
  float: left;
  margin-bottom: 4.27083vw;
}

@media only screen and (max-width: 800px) {
  .highlight-container {
    font-size: 2.4vw;
    margin-bottom: 21.06667vw;
  }
}

.highlight-container img {
  height: 8.5vw;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media only screen and (max-width: 800px) {
  .highlight-container img {
    height: 13.6vw;
  }
}
/*# sourceMappingURL=highlight.css.map */