$desk: 100/1920;
$mob: 100/375;

.highlight-container {
  display: grid;
  font-family: Montserrat-Medium;
  font-size: 21 * $desk + vw;
  text-align: center;
  width: 175 * $desk + vw;
  height: 10vw;
  float: left;
  margin-bottom: 82 * $desk + vw;
  @media only screen and (max-width: 800px) {
    font-size: 9 * $mob + vw;
    margin-bottom: 79 * $mob + vw;
  }
  img {
    height: 8.5vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    @media only screen and (max-width: 800px) {
      height: 51 * $mob + vw;
    }
  }
}
