$desk: 100 / 1920;
$mob: 100 / 375;

.newsContainer {
  position: relative;
  width: 386 * $desk + vw;
  height: 343 * $desk + vw;
  //   background: red;
  margin-right: 50 * $desk + vw;
  margin-left: 50 * $desk + vw;
  margin-top: 50 * $desk + vw;
  box-shadow: 1px 2px 7px -2px rgba(0, 0, 0, 0.75);
  margin-bottom: unset;

  @media only screen and (max-width: 800px) {
    width: 261 * $mob + vw;
    height: 231 * $mob + vw;
    margin-right: 20 * $mob + vw;
    margin-left: 20 * $mob + vw;
    margin-top: 40 * $mob + vw;
  }
  img {
    width: 100%;
    // box-shadow: 1px 7px 13px -4px rgba(0, 0, 0, 0.75);
  }
  .newsText {
    position: absolute;
    font-family: Montserrat-Medium;
    margin-top: 13 * $desk + vw;
    right: 1vw;
    @media only screen and (max-width: 800px) {
      margin-top: 7 * $mob + vw;
      // right: -38vw;
      // right: 0;
      right: 3vw;
    }
  }
  a {
    text-decoration: none;
  }
}
