.newsContainer {
  position: relative;
  width: 20.10417vw;
  height: 17.86458vw;
  margin-right: 2.60417vw;
  margin-left: 2.60417vw;
  margin-top: 2.60417vw;
  -webkit-box-shadow: 1px 2px 7px -2px rgba(0, 0, 0, 0.75);
          box-shadow: 1px 2px 7px -2px rgba(0, 0, 0, 0.75);
  margin-bottom: unset;
}

@media only screen and (max-width: 800px) {
  .newsContainer {
    width: 69.6vw;
    height: 61.6vw;
    margin-right: 5.33333vw;
    margin-left: 5.33333vw;
    margin-top: 10.66667vw;
  }
}

.newsContainer img {
  width: 100%;
}

.newsContainer .newsText {
  position: absolute;
  font-family: Montserrat-Medium;
  margin-top: 0.67708vw;
  right: 1vw;
}

@media only screen and (max-width: 800px) {
  .newsContainer .newsText {
    margin-top: 1.86667vw;
    right: 3vw;
  }
}

.newsContainer a {
  text-decoration: none;
}
/*# sourceMappingURL=news.css.map */