$desk: 100/1920;
$mob: 100/375;

.slider-container {
  .active-img {
    img {
      width: 683 * $desk + vw;
      height: 456 * $desk + vw;
      object-fit: contain;
      @media only screen and (max-width: 800px) {
        width: 310 * $mob + vw;
        height: 226 * $mob + vw;
      }
    }
    .thumb-container {
      img {
        width: 127 * $desk + vw;
        height: 96 * $desk + vw;
        margin-left: 8 * $desk + vw;
        cursor: pointer;
        @media only screen and (max-width: 800px) {
          width: 62 * $mob + vw;
          height: 47 * $mob + vw;
        }
      }
    }
  }
}
