.slider-container .active-img img {
  width: 35.57292vw;
  height: 23.75vw;
  -o-object-fit: contain;
     object-fit: contain;
}

@media only screen and (max-width: 800px) {
  .slider-container .active-img img {
    width: 82.66667vw;
    height: 60.26667vw;
  }
}

.slider-container .active-img .thumb-container img {
  width: 6.61458vw;
  height: 5vw;
  margin-left: 0.41667vw;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .slider-container .active-img .thumb-container img {
    width: 16.53333vw;
    height: 12.53333vw;
  }
}
/*# sourceMappingURL=slider.css.map */