$desk: 100 / 1920;
$mob: 100 / 375;

body {
  overflow-y: inherit;
}
.BG-Container {
  //   overflow-x: hidden;

  // z-index: 999;
  .header-container {
    position: relative;
    //
    margin-left: 79 * $desk + vw;
    // z-index: 200;
  }
  .logo {
    position: relative;

    width: 177 * $desk + vw;
    height: 177 * $desk + vw;
    float: left;
    z-index: 8;
    @media only screen and (max-width: 800px) {
      position: relative;
      left: 35%;
      transform: translateX(-50%);
      width: 100 * $mob + vw;
      height: 100 * $mob + vw;
      float: none;
      text-align: center;
    }
  }
  .menu-container {
    cursor: pointer;
    position: fixed;
    // float: right;
    // margin-right: 62 * $desk + vw;
    // padding-top: 38 * $desk + vw;
    z-index: 8;
    right: 2vw;
    top: 32 * $desk + vw;
    display: flex;
    @media only screen and (max-width: 800px) {
      right: 5vw;
    }
    .menu {
      position: relative;
      width: 50 * $desk + vw;
      height: 15 * $desk + vw;
      margin-right: 16.6 * $desk + vw;
      // z-index: 9999;

      top: unset;
      @media only screen and (max-width: 800px) {
        width: 40 * $mob + vw;
        height: 12 * $mob + vw;
        top: 38.5 * $mob + vw;
      }
    }
    .menu-text {
      display: block;
      top: -8 * $desk + vw;
      position: relative;
      @media only screen and (max-width: 800px) {
        display: none;
      }
    }
  }
  .line-container {
    opacity: 1;
    // z-index: 12;
    @media only screen and (max-width: 800px) {
      opacity: 0;
    }
  }
  .mline-container {
    opacity: 0;
    @media only screen and (max-width: 800px) {
      opacity: 1;
      // z-index: 1;
    }
    .mline1 {
      width: 1 * $mob + vw;
      height: 100vh;
      background: #848484;
      position: absolute;
      opacity: 0.15;
      top: 0;
      left: 84.5 * $mob + vw;
      // z-index: 9;
      // z-index: 1;
    }
    .mline2 {
      left: 290 * $mob + vw;
      background: #848484;
    }
    .mline3 {
      width: 100vw;
      height: 2 * $desk + vw;
      background: #848484;
      opacity: 0.4;
      position: absolute;
      left: 0;
      top: 44vw;
    }
    .mline4 {
      @media only screen and (max-width: 800px) {
        top: 120vw;
      }
      top: 0vw;
    }
  }
  .line1 {
    width: 1 * $desk + vw;
    height: 95vh;
    background: #848484;
    position: absolute;
    opacity: 0.15;
    top: 0;
    left: 0;
    left: 198.5 * $desk + vw;
    // z-index: 9;
    @media only screen and (max-width: 800px) {
      width: 100vw;
      height: 1 * $desk + vw;
    }
  }
  .line2 {
    left: 581 * $desk + vw;
    @media only screen and (max-width: 800px) {
    }
  }
  .line3 {
    left: 960.5 * $desk + vw;
    @media only screen and (max-width: 800px) {
    }
  }
  .line4 {
    left: 1357.5 * $desk + vw;
    @media only screen and (max-width: 800px) {
    }
  }
  .line5 {
    width: 100vw;
    height: 1 * $desk + vw;
    background: #848484;
    opacity: 0.15;

    position: absolute;
    left: 0;
    top: 10.2vw;
    @media only screen and (max-width: 800px) {
    }
  }
  .line6 {
    top: 38.5vw;
    @media only screen and (max-width: 800px) {
    }
  }
  .title-container {
    width: auto;
    height: auto;
    position: relative;
    font-family: Montserrat-Light;
    top: 486 * $desk + vw;
    left: 0 * $desk + vw;
    @media only screen and (max-width: 800px) {
      // display: none;
    }
    // margin-left: ;
    .text {
      display: none;
      position: absolute;
      width: 450 * $desk + vw;
      left: -38 * $desk + vw;
      top: -2.47917vw;
      font-size: 60 * $desk + vw;
      transform: rotate(-90deg);
      color: black;
      text-align: center;
      @media only screen and (max-width: 800px) {
        display: block;
        font-size: 28 * $mob + vw;
        transform: rotate(0deg);
        left: 50%;
        transform: translateX(-50%);
        width: 68vw;
        top: -26.47917vw;
      }
      .textLine1 {
        display: none;
        @media only screen and (max-width: 800px) {
          display: block;
          position: absolute;
          height: 1 * $mob + vw;
          background: black;
          left: -14vw;
          top: 50%;
          transform: translateY(-50%);
          /* z-index: 1; */
          width: 19vw;
        }
      }
      .textLine2 {
        display: none;
        @media only screen and (max-width: 800px) {
          display: block;
          position: absolute;
          height: 1 * $mob + vw;
          background: black;
          left: 63vw;
          top: 50%;
          transform: translateY(-50%);
          /* z-index: 1; */
          width: 19vw;
        }
      }
    }
    .title-line1 {
      position: absolute;
      top: -230 * $desk + vw;
      left: 258 * $desk + vw;
      width: 2 * $desk + vw;
      height: 258 * $desk + vh;
      background: #707070;
    }
    .title-line2 {
      position: absolute;
      top: 200 * $desk + vw;
      left: 258 * $desk + vw;
      width: 2 * $desk + vw;
      height: 258 * $desk + vh;
      background: #707070;
    }
  }
  .footer {
    position: absolute;
    bottom: 0;
  }
  .menu-section {
    position: fixed;
    top: 0;
    display: none;
    opacity: 0;
    transition: opacity 800ms ease-in-out;
    z-index: 9;
  }
  .downArrow-container {
    display: none;
    @media only screen and (max-width: 800px) {
      display: block;
      position: absolute;
      bottom: 35 * $mob + vh;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
    }
  }
}
