body {
  overflow-y: inherit;
}

.BG-Container .header-container {
  position: relative;
  margin-left: 4.11458vw;
}

.BG-Container .logo {
  position: relative;
  width: 9.21875vw;
  height: 9.21875vw;
  float: left;
  z-index: 8;
}

@media only screen and (max-width: 800px) {
  .BG-Container .logo {
    position: relative;
    left: 35%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 26.66667vw;
    height: 26.66667vw;
    float: none;
    text-align: center;
  }
}

.BG-Container .menu-container {
  cursor: pointer;
  position: fixed;
  z-index: 8;
  right: 2vw;
  top: 1.66667vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 800px) {
  .BG-Container .menu-container {
    right: 5vw;
  }
}

.BG-Container .menu-container .menu {
  position: relative;
  width: 2.60417vw;
  height: 0.78125vw;
  margin-right: 0.86458vw;
  top: unset;
}

@media only screen and (max-width: 800px) {
  .BG-Container .menu-container .menu {
    width: 10.66667vw;
    height: 3.2vw;
    top: 10.26667vw;
  }
}

.BG-Container .menu-container .menu-text {
  display: block;
  top: -0.41667vw;
  position: relative;
}

@media only screen and (max-width: 800px) {
  .BG-Container .menu-container .menu-text {
    display: none;
  }
}

.BG-Container .line-container {
  opacity: 1;
}

@media only screen and (max-width: 800px) {
  .BG-Container .line-container {
    opacity: 0;
  }
}

.BG-Container .mline-container {
  opacity: 0;
}

@media only screen and (max-width: 800px) {
  .BG-Container .mline-container {
    opacity: 1;
  }
}

.BG-Container .mline-container .mline1 {
  width: 0.26667vw;
  height: 100vh;
  background: #848484;
  position: absolute;
  opacity: 0.15;
  top: 0;
  left: 22.53333vw;
}

.BG-Container .mline-container .mline2 {
  left: 77.33333vw;
  background: #848484;
}

.BG-Container .mline-container .mline3 {
  width: 100vw;
  height: 0.10417vw;
  background: #848484;
  opacity: 0.4;
  position: absolute;
  left: 0;
  top: 44vw;
}

.BG-Container .mline-container .mline4 {
  top: 0vw;
}

@media only screen and (max-width: 800px) {
  .BG-Container .mline-container .mline4 {
    top: 120vw;
  }
}

.BG-Container .line1 {
  width: 0.05208vw;
  height: 95vh;
  background: #848484;
  position: absolute;
  opacity: 0.15;
  top: 0;
  left: 0;
  left: 10.33854vw;
}

@media only screen and (max-width: 800px) {
  .BG-Container .line1 {
    width: 100vw;
    height: 0.05208vw;
  }
}

.BG-Container .line2 {
  left: 30.26042vw;
}

.BG-Container .line3 {
  left: 50.02604vw;
}

.BG-Container .line4 {
  left: 70.70312vw;
}

.BG-Container .line5 {
  width: 100vw;
  height: 0.05208vw;
  background: #848484;
  opacity: 0.15;
  position: absolute;
  left: 0;
  top: 10.2vw;
}

.BG-Container .line6 {
  top: 38.5vw;
}

.BG-Container .title-container {
  width: auto;
  height: auto;
  position: relative;
  font-family: Montserrat-Light;
  top: 25.3125vw;
  left: 0vw;
}

.BG-Container .title-container .text {
  display: none;
  position: absolute;
  width: 23.4375vw;
  left: -1.97917vw;
  top: -2.47917vw;
  font-size: 3.125vw;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: black;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .BG-Container .title-container .text {
    display: block;
    font-size: 7.46667vw;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 68vw;
    top: -26.47917vw;
  }
}

.BG-Container .title-container .text .textLine1 {
  display: none;
}

@media only screen and (max-width: 800px) {
  .BG-Container .title-container .text .textLine1 {
    display: block;
    position: absolute;
    height: 0.26667vw;
    background: black;
    left: -14vw;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    /* z-index: 1; */
    width: 19vw;
  }
}

.BG-Container .title-container .text .textLine2 {
  display: none;
}

@media only screen and (max-width: 800px) {
  .BG-Container .title-container .text .textLine2 {
    display: block;
    position: absolute;
    height: 0.26667vw;
    background: black;
    left: 63vw;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    /* z-index: 1; */
    width: 19vw;
  }
}

.BG-Container .title-container .title-line1 {
  position: absolute;
  top: -11.97917vw;
  left: 13.4375vw;
  width: 0.10417vw;
  height: 13.4375vh;
  background: #707070;
}

.BG-Container .title-container .title-line2 {
  position: absolute;
  top: 10.41667vw;
  left: 13.4375vw;
  width: 0.10417vw;
  height: 13.4375vh;
  background: #707070;
}

.BG-Container .footer {
  position: absolute;
  bottom: 0;
}

.BG-Container .menu-section {
  position: fixed;
  top: 0;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 800ms ease-in-out;
  transition: opacity 800ms ease-in-out;
  z-index: 9;
}

.BG-Container .downArrow-container {
  display: none;
}

@media only screen and (max-width: 800px) {
  .BG-Container .downArrow-container {
    display: block;
    position: absolute;
    bottom: 9.33333vh;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 1;
  }
}
/*# sourceMappingURL=background.css.map */