.aboutus03-container .backSection {
  display: none;
}

@media only screen and (max-width: 800px) {
  .aboutus03-container .backSection {
    display: block;
    position: absolute;
    top: 9vw;
    left: 5vw;
    font-family: RalewayLight;
    z-index: 2;
    font-size: 3.2vw;
  }
}

.aboutus03-container .backSection .backBtn {
  position: relative;
  top: 1.1vw;
  margin-right: 2vw;
  height: 4vw;
}

.aboutus03-container .panelContainer {
  position: absolute;
  overflow: hidden;
  width: 71.19792vw;
  left: 23.4375vw;
  top: 10.9375vw;
  height: 30.20833vw;
}

@media only screen and (max-width: 800px) {
  .aboutus03-container .panelContainer {
    width: 92vw;
    top: 48vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: auto;
  }
}

.aboutus03-container .p-adjust {
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .aboutus03-container .p-adjust {
    width: 92vw;
    margin-bottom: 2.5vw;
  }
}

.aboutus03-container .arrow-header {
  display: none;
}

@media only screen and (max-width: 800px) {
  .aboutus03-container .arrow-header {
    display: block;
    position: absolute;
    font-family: Montserrat-Light;
    font-size: 2.93333vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 28vw;
  }
}
/*# sourceMappingURL=aboutus3.css.map */